<footer class="site-new-footer">
        <div class="inner">
          <nav class="footer-menu">
            <h4 class="footer-menu-title">SUPPORT</h4>
            <ul class="footer-menu-list">
              <li>
                <a href="/pages/faq">FAQ</a>
              </li>
              <li>
                <a href="/pages/contact">CONTACT US</a>　
              </li>
             <li>
                <a href="/pages/size-guide">SIZE GUIDE</a>
              </li>
              <li>
                <a href="/pages/aosct">TERMS</a>
              </li>
              
              
            </ul>
             </nav>
        </div>
 
        <div class="inner">
          <nav class="footer-menu">           
            <ul class="footer-menu-list">
               <li>
                <a href="/pages/privacy-policy">PRIVACY POLICY</a>
              </li>
              
              <li>
                <a href="/pages/shopping-guide">SHOPPING GUIDE</a>
              </li>
            </ul>
          </nav>
        </div>
  
      </footer>
