<link rel="stylesheet" href="https://use.typekit.net/jnl6wcn.css">
{{ 'new-item.css' | asset_url | stylesheet_tag }}

<div class="new-item">
  <div class="new-item_top">
      <div class="lavanda-top pc">
         <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_top.png?v=1608969699" alt="">
         <div class="ttl">
          <h1 class="title">NEW ITEM</h1>
          <p>LAVANDA</p>
         </div>
      </div>
      <div class="lavanda-top sp">
         <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_top-sp.png?v=1608969693" alt="">
         <div class="ttl">
          <h1 class="title">NEW ITEM</h1>
          <p>LAVANDA</p>
         </div>
      </div>
  </div>
  <div class="lavanda-new-item-wrapper">
    <section class="parker">
      <h2 class="ttl">PARKER</h2>
      <div class="parker-top">
        <div class="parker-img">
          <a href="https://lavanda.jp/products/lv20awnpk01">
            <p class="parker-name">OFF WHITE</p>
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_parker.png?v=1608971044" alt="">
          </a>
        </div>
        <ul class="product">
          <li>
          	<a href="https://lavanda.jp/products/lv20awnpk01">
          		<span>フラワーフォトパーカー</span>　￥7,800 +tax <br>
	        </a>
          </li>
          <li>
        	  <a href="https://lavanda.jp/products/lv20awac20">
		          <span>ベロアリボンゴム</span>　¥1,800 +tax <br>
	          </a>
          </li>
          <li>
          	<a href="https://lavanda.jp/products/lv20awnac03">
	        	  <span>サークルピアス/イヤリング</span>　￥2,500 +tax
	        </a>
          </li>
        </ul>
      </div>
      <div class="parker-products">
        <div class="black">
          <a href="https://lavanda.jp/products/lv20awnpk01">
            <div class="black-left">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_black-left.png?v=1609125662" alt="">
            </div>
            <div class="black-right">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_black-right.png?v=1608969689" alt="">
              <p class="name"><span>CHARCOAL </span></p>
            </div>
          </a>
        </div>
        <div class="lavender">
          <a href="https://lavanda.jp/products/lv20awnpk01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_lavemder.png?v=1608969689" alt="">
            <p class="name"><span>LAVENDER</span></p>
          </a>
        </div>
      </div>
    </section>
    <section class="sweat">
      <h2 class="ttl">SWEAT</h2>
      <div class="sweat-top">
        <div class="sweat-img">
          <a href="https://lavanda.jp/products/lv20awnsw01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_sweat.png?v=1608973171" alt="">
            <p class="sweat-name">BLAC<span class="k-font">K</span></p>
          </a>
        </div>
        <ul class="product">
          <li>
          	<a href="https://lavanda.jp/products/lv20awnsw01">
            	<span>フロッキースウェット</span>　￥7,000 +tax <br>
          	</a>
          </li>
          <li>
          	<a href="https://lavanda.jp/products/lavanda-cap">
            	<span>LAVANDAキャップ</span>　￥4,800 +tax <br>
          	</a>
          </li>
        </ul>
      </div>
      <div class="sweat-products">
        <div class="pink">
          <a href="https://lavanda.jp/products/lv20awnsw01">
            <div class="pink-left">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_pink-left.png?v=1608969691" alt="">
            </div>
            <div class="pink-right">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_pink-right.png?v=1608969691" alt="">
              <p class="name"><span>PIN<span class="k-font">K</span></span></p>
            </div>
          </a>
        </div>
        <div class="beige">
          <a href="https://lavanda.jp/products/lv20awnsw01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_beige.png?v=1608969687" alt="">
            <p class="name"><span>BEIGE</span></p>
          </a>
        </div>
      </div>
    </section>
    <section class="boa-bag">
      <h2 class="ttl">BOA BAG</h2>
      <div class="boa-bag-products">
        <div class="pink">
          <a href="https://lavanda.jp/products/lv20awng01">
            <div class="pc">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_bag-pink.png?v=1608969685" alt="">
            </div>
            <div class="sp">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_bag-pink_sp.png?v=1608969687" alt="">
            </div>
            <p class="name"><span>PIN<span class="k-font">K</span></span></p>
          </a>
        </div>
        <div class="beige">
          <a href="https://lavanda.jp/products/lv20awng01">
            <div class="pc">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_bag-beige.png?v=1608969685" alt="">
            </div>
            <div class="sp">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new-item_bag-beige_sp.png?v=1608969695" alt="">
            </div>
            <p class="name"><span>BEIGE</span></p>
          </a>
        </div>
      </div>
      <ul class="product">
        <li>
        	<a href="https://lavanda.jp/products/lv20awng01">
	        	<span>LAVANDA LOGOボアバッグ</span> ￥7,800 +tax <br>
	        </a>
          </li>
      </ul>
    </section>
  </div>
</div>
  
  <script>
    $(function(){
      $(window).scroll(function (){
          $('.fadein').each(function(){
              var elemPos = $(this).offset().top;
              var scroll = $(window).scrollTop();
              var windowHeight = $(window).height();
              if (scroll > elemPos - windowHeight + 300){
                  $(this).addClass('scrollin');
              }
          });
      });
  });
  
    
  </script>
  
  {% schema %}
    {
      "name": "Section name",
      "settings": []
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  