{{ content_for_index }}

<div id="aw20-page">
	<nav class="footer-sns-navigation">
      <ul class="menu">
        <li>
          <a href="https://twitter.com/LAVANDAjp" target="_blank">
            <div class="icn">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/Twitter.png?v=1613993214" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/lavanda.jp/" target="_blank">
            <div class="icn">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/Instagram.png?v=1613993214" alt="">
            </div>
          </a>
        </li>
        <li>
          <a href="https://lin.ee/5EzZzz7" target="_blank">
            <div class="icn">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/line_footer.png?v=1624522264" alt="">
            </div>
          </a>
        </li>
      </ul>
    </nav>
</div>
