      <div class="mv">
        <div class="mv-pc d-pc">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mv.jpg?v=1594723864" alt="#YR_LAVANDA">
        </div>
        <img class="d-sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mv-sp02.jpg?v=1594892827" alt="#YR_LAVANDA">
        <div class="txt">
          <h2>
            <img src="{{ 'title.svg' | asset_url }}" alt="#YR_LAVANDA">
          </h2>
          <span class="small">あなただけの "STAND UP" Tシャツを。</span>
          <p>
            <span class="normal fn-M">販売期間</span>
            <br>17<span class="small day">TH.</span> JULY <span class="small week">[FRI]</span>  -  26<span class="small day">TH.</span> JULY <span class="small week">[SUN]</span>
          </p>
        </div>
        <a href="#logo" class="scroll-btn"></a>
      </div>

      <section id="logo">
        <ul class="js-slider txt animation-slideup" dir="rtl">
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
        </ul>

        <ul class="js-slider photo animation-slideup">
          <li class="slide-item">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/YR_LAVANDA1.jpg?v=1594201595">
          </li>
          <li class="slide-item">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/YR_LAVANDA2.jpg?v=1594201595">
          </li>
          <li class="slide-item">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/YR_LAVANDA3.jpg?v=1594201595">
          </li>
          <li class="slide-item">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/YR_LAVANDA4.jpg?v=1594201595">
          </li>
          <li class="slide-item">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/YR_LAVANDA5.jpg?v=1594201595">
          </li>
        </ul>

        <ul class="js-slider txt animation-slideup" dir="rtl">
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
          <li class="slide-item">YR_LAVANDA#</li>
        </ul>
      </section>

      <section id="make">
        <div class="inner">
          <div class="row row-Layout2col">
            <div class="col-item">
              <h3 class="d-sp txt-pink animation-slideup">
                MAKE YOUR
                <br>ORIGINAL T-SHIRTS
              </h3>
                <div class="animation-slideup">
                <video autoplay muted loop playsinline>
                                    <source src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/new_movie.mp4?v=1594904320">

                </video>
              </div>
            </div>
            <div class="col-item txt-pink">
              <h3 class="d-pc animation-slideup">
                MAKE YOUR
                <br>ORIGINAL T-SHIRTS
              </h3>
              <div class="copy animation-slideup">
                <p>
                  特別に用意した限定グラフィックの中から、好きなスタイルや歌詞を選択し、あなた好みにデザインをカスタマイズ出来ます。アナタだけのオリジナルのカスタマイズTシャツを作ろう！
                </p>
                <p>
                  “STAND UP”Tシャツ をご利用いただけるのはスマートフォンのみとなります。PCをご利用の方はスマートフォンで下のQRコードを読み取り、デザインページにお進みください。
                </p>
              </div>
              <div class="row qr-inner animation-slideup">
                <p>
                  <span class="small">PRICE</span>
                  ¥6,000
                  <span class="small">[+TAX]</span>
                </p>
                <figure class="d-pc">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/qr.png?v=1594201595" class="qr">
                </figure>
                <a href="https://yr.lavanda.jp" class="btn d-sp">
                  LET'S TRY
                </a>
              </div>
              <p class="note txt-gray animation-slideup">
                ※ お届け目安 ： 2020年8月下旬～
                <br>※注文多数の場合、オーダー日時が後ろのお客様分のお届けが上記目安よりもお時間いただく場合がございます。
                <br>※ ご注文確定後のキャンセル・サイズ変更等は一切お受けできません。予めご了承ください。
                <br>※ 本商品は予約受注商品ですが、一定数を超えた場合、受付期間中でも受付終了とさせていただく場合がございます。
                <br>※複数枚ご購入希望の場合は、都度デザインしていただくことになります。
                <br>※@lavanda.jpと@komoju.comからのメールを受信できるよう設定をお願いいたします。
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="how">
        <div class="inner">
          <div class="row row-Layout2col">
            <div class="col-item txt-white">
              <h3 class="d-pc animation-slideup">
                HOW TO
                <br>DESIGN T-SHIRTS
              </h3>
              <ul class="js-slider step animation-slideup">
                <li class="slick-item">
                  <h5>
                    STEP 01
                    <br>CHOOSE YOUR FONT STYLE
                  </h5>
                  <p class="copy">
                    ２種類のスタイルより
                    <br>ベースデザインを選択してください。
                  </p>
                  <p class="note">
                    SIZE：F
                    <br>着丈 75cm / バスト 112cm / 肩巾 52cm / 袖丈 18cm / 袖口巾 21cm / 裾巾 56cm
                    <br>素材：綿100%
                    <br>※画像はイメージとなります。実際の画面とは異なる場合がございます。
                  </p>
                </li>
                <li class="slick-item">
                  <h5>
                    STEP 02
                    <br>CHOOSE YOUR MAIN GRAPHIC
                  </h5>
                  <p class="copy">
                    3種類のメイングラフィックの中から
                    <br>好きな画像を選択してください。
                  </p>
                  <p class="note">
                    SIZE：F
                    <br>着丈 75cm / バスト 112cm / 肩巾 52cm / 袖丈 18cm / 袖口巾 21cm / 裾巾 56cm
                    <br>素材：綿100%
                    <br>※画像はイメージとなります。実際の画面とは異なる場合がございます。
                  </p>
                </li>
                <li class="slick-item">
                  <h5>
                    STEP 03
                    <br>CHOOSE YOUR LYRICS
                  </h5>
                  <p class="copy">
                    好きな歌詞デザインとカラーを6種類の中から選択してください。
                    <br>(スタイル毎に選べる歌詞デザインが異なります)
                  </p>
                  <p class="note">
                    SIZE：F
                    <br>着丈 75cm / バスト 112cm / 肩巾 52cm / 袖丈 18cm / 袖口巾 21cm / 裾巾 56cm
                    <br>素材：綿100%
                    <br>※画像はイメージとなります。実際の画面とは異なる場合がございます。
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-item">
              <h3 class="d-sp txt-white animation-slideup">
                HOW TO
                <br>T-SHIRTS DESIGN
              </h3>
              <div class="animation-slideup">
                <ul class="js-slider how iphone">
                  <li class="slick-item">
                   <figure>
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/STEP01_02.png?v=1594903995">
                    </figure>
                  </li>
                  <li class="slick-item">
                    <figure>
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/STEP02_02.png?v=1594903995">
                    </figure>
                  </li>
                  <li class="slick-item">
                    <figure>
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/STEP03_02.png?v=1594903995">
                    </figure>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bg d-pc"></div>
      </section>

      <section id="try">
        <div class="inner txt-pink animation-slideup">
          <h4 class="d-pc">LET'S TRY</h4>          
          <figure class="d-pc">
            <a href="https://lavanda.jp/pages/yr-lavanda-guide"><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/standup_banner.jpg?v=1594201595"></a>
          </figure>
          <figure class="d-pc">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/qr.png?v=1594201595" class="qr">
          </figure>
          <a href="https://lavanda.jp/pages/yr-lavanda-guide"><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/standup_banner.jpg?v=1594201595" class="banner d-sp"></a>
          <a href="https://yr.lavanda.jp" class="btn d-sp">
            LET'S TRY
          </a>
          <p class="d-pc">
            スマートフォンでQRコードを読み取り、
            <br>デザインページにお進みください。
          </p>
        </div>
      </section>

<style>
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

ul li, ol li {
  margin-bottom: 0; }
  
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.btn {  
    text-transform: initial;
    outline: initial;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    -moz-border-radius: initial;
    -webkit-border-radius: initial;
    -ms-border-radius: initial;
    -o-border-radius: initial;
    border-radius: initial;
    padding: initial;
    border: initial;
    min-width: initial;
    max-width: initial;
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
    transition: initial;
}

.main-content {
  padding-bottom: 0; }

main {
  position: relative;
  top: -80px; }
  @media screen and (max-width: 1200px) {
    main {
      top: -60px; } }
  
main {
  font-family: 'Helvetica Neue', 'Helvetica','Roboto','Noto Sans JP', sans-serif;
  letter-spacing: normal;}
  main * {
    box-sizing: border-box; }
  main ol, main ul {
    list-style: none; }
  main figure {
    line-height: 0; }
  main img {
    width: auto;
    max-width: 100%; }
  main p {
    font-size: 1.09375vw; }
    @media screen and (max-width: 767px) {
      main p {
        font-size: 3.25521vw; } }
  main p, main h1, main h2, main h3, main h4, main h5, main h6, main a, main ul, main li, main span {
    line-height: 1.8; }
  main a {
    text-decoration: none;
    transition: .3s;
    pointer-events: cursor; }
    main a:hover {
      opacity: .6; }
  main .d-sp {
    display: none; }
  @media screen and (max-width: 767px) {
    main .d-sp {
      display: block; }
    main .d-pc {
      display: none; } }
  main .fn-R {
    font-weight: 400 !important; }
  main .fn-M {
    font-weight: 500 !important; }
  main .fn-B {
    font-weight: 700 !important; }
  main .txt-pink {
    color: #d2a3c2 !important; }
  main .txt-darkpink {
    color: #c1b6c1 !important; }
  main .txt-gray {
    color: #b4b4b4 !important; }
  main .txt-darkgray {
    color: #999999 !important; }
  main .txt-black {
    color: #222222 !important; }
  main .txt-white {
    color: #ffffff !important; }
  main .align-c {
    text-align: center; }
  main .align-l {
    text-align: left; }
  main .align-r {
    text-align: right; }
  @media screen and (max-width: 767px) {
    main .align-md--c {
      text-align: center; }
    main .align-md--l {
      text-align: left; }
    main .align-md--r {
      text-align: right; } }
  main .row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0; }
  main .inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px 0; }
  @media screen and (max-width: 767px) {
    main .row-Layout2col {
      display: block; } }
  main .row-Layout2col h3 {
    font-size: 3.90625vw;
    line-height: 1;
    letter-spacing: 1px; }
    @media screen and (max-width: 767px) {
      main .row-Layout2col h3 {
        font-size: 8.07292vw;
        line-height: 1.3; } }
  main .row-Layout2col .col-item {
    text-align: center;
    font-weight: 500;
    width: 50%; }
    main .row-Layout2col .col-item:first-child {
      padding: 0 50px 0 0; }
    main .row-Layout2col .col-item h5 {
      font-size: 2.03125vw;
      line-height: 1.3; }
    main .row-Layout2col .col-item h3, main .row-Layout2col .col-item h5, main .row-Layout2col .col-item p {
      text-align: left; }
    main .row-Layout2col .col-item .note {
      font-size: 0.78125vw;
      line-height: 2; }
    @media screen and (max-width: 767px) {
      main .row-Layout2col .col-item {
        width: 100% !important; }
        main .row-Layout2col .col-item:first-child {
          padding: 0; }
        main .row-Layout2col .col-item h5 {
          font-size: 5.20833vw; }
        main .row-Layout2col .col-item .note {
          font-size: 2.34375vw; } }
  main .iphone {
    position: relative;
    display: inline-block; }
    main .iphone::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/iphone.png?v=1594724913) center center no-repeat;
      background-size: contain; }
    main .iphone img {
      border-radius: 60px;
      max-width: 360px;
      margin: 0 -2px; }
    @media screen and (max-width: 767px) {
      main .iphone {
        max-width: 245px; }
        main .iphone img {
          max-width: 100%;
          margin: 0; } }
  main .qr {
    max-width: 148px;
    border: 2px solid #e2e2e2; }
  main .btn {
    color: #fff;
    font-family: 'Helvetica Neue', 'Helvetica','Roboto','Noto Sans JP', sans-serif;
    font-size: 4.94792vw;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: normal;
    background: #c1b6c1;
    padding: 15px;
    max-width: 500px;
    margin: 0 auto; }
  main .slick-slide:focus {
    outline: none; }
  main .slick-prev, main .slick-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto;
    z-index: 10; }
    main .slick-prev::before, main .slick-next::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 16px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    @media screen and (max-width: 1000px) {
      main .slick-prev, main .slick-next {
        right: 5%; } }
    @media screen and (max-width: 767px) {
      main .slick-prev, main .slick-next {
        right: 8%; }
        main .slick-prev::before, main .slick-next::before {
          width: 12px;
          height: 12px; } }
  main .slick-prev {
    right: auto;
    left: 6%; }
    main .slick-prev::before {
      transform: rotate(225deg); }
    @media screen and (max-width: 1000px) {
      main .slick-prev {
        left: 0; } }
    @media screen and (max-width: 767px) {
      main .slick-prev {
        left: 4%; } }
  main .slick-dots li button::before {
    font-family: 'Helvetica Neue', 'Helvetica','Roboto','Noto Sans JP', sans-serif;
    font-size: 35px; }
  main .animation-slideup {
    opacity: 0;
    transition: .8s;
    transform: translateY(50px); }

body {
  position: relative; }

.breadcrumbs {
  position: absolute;
  top: 115px;
  left: 50px;
  margin: auto;
  z-index: 2; }
  .breadcrumbs li {
    font-size: 0.78125vw;
    position: relative;
    display: inline; }
    .breadcrumbs li:not(:last-child) {
      margin: 0 20px 0 0; }
      .breadcrumbs li:not(:last-child):after {
        content: '';
        position: absolute;
        top: 0;
        right: -15px;
        bottom: 0;
        margin: auto;
        width: 4px;
        height: 4px;
        border-top: 1px solid #999999;
        border-right: 1px solid #999999;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    .breadcrumbs li a {
      font-family: 'Helvetica Neue', 'Helvetica','Roboto','Noto Sans JP', sans-serif;
      color: #999999;
      letter-spacing: .15em;
      text-decoration: none;
      transition: .3s; }
      .breadcrumbs li a:hover {
        opacity: .6; }
  @media screen and (max-width: 767px) {
    .breadcrumbs {
      display: none; } }

.mv {
  position: relative; }
  .mv .mv-pc {
    position: relative;
    overflow-x: hidden; }
    .mv .mv-pc img {
      width: 100%;
      height: 100vh; }
    .mv .mv-pc::after {
      content: '';
      position: absolute;
      right: -330px;
      bottom: 0;
      background: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mv-parts.png?v=1594724913) no-repeat;
      background-size: contain;
      width: 100%;
      max-width: 854px;
      height: 93vh; }
  @media screen and (max-width: 1100px) {
    .mv {
      overflow: hidden; }
      .mv .mv-pc {
        width: 1100px;
        overflow: auto; }
        .mv .mv-pc img {
          width: auto;
          max-width: unset; } }
  .mv .txt {
    color: #d2a3c2;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 110px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .mv .txt h2 img {
      width: 35vw;
      height: auto; }
      @media all and (-ms-high-contrast: none) {
        .mv .txt h2 img {
          height: 6vw; } }
    .mv .txt > span.small {
      font-size: 2.03125vw; }
    .mv .txt p {
      font-size: 1.875vw;
      font-weight: 500;
      line-height: 1.7em;
      margin: 35px 0 0; }
      .mv .txt p .normal {
        font-size: 1.25vw; }
      .mv .txt p .small {
        font-size: 60%;
        font-weight: inherit;}
  .mv .scroll-btn {
    display: block;
    position: absolute;
    bottom: 55px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    border-top: 1px solid #d2a3c2;
    border-right: 1px solid #d2a3c2;
    -webkit-transform: rotate(130deg);
    transform: rotate(135deg); }
  @media screen and (max-width: 767px) {
    .mv .txt {
      position: static;
      margin: 20px 15px 6px; }
      .mv .txt h2 img {
        width: 58vw; }
      .mv .txt > span.small {
        font-size: 3.25521vw; }
      .mv .txt p {
        font-size: 3.90625vw;
        margin: 8px 0 0; }
        .mv .txt p .normal {
          font-size: 2.86458vw; }
    .mv .scroll-btn {
      position: static;
      width: 10px;
      height: 10px;
      margin: 0 auto 30px; } }

#logo {
  padding: 0; }
  #logo .js-slider {
    overflow: hidden; }
  #logo .txt li {
    cursor: default;
    display: inline-block;
    color: #ffffff;
    font-size: 4.53125vw;
    text-shadow: 1px 1px 0 #d2a3c2, -1px -1px 0 #d2a3c2, -1px 1px 0 #d2a3c2, 1px -1px 0 #d2a3c2, 0px 1px 0 #d2a3c2, -1px 0 #d2a3c2, -1px 0 0 #d2a3c2, 1px 0 0 #d2a3c2;
    line-height: 1.6em; }
    @media screen and (max-width: 767px) {
      #logo .txt li {
        font-size: 7.16146vw; } }
  #logo .photo li {
    display: inline-block;
    font-size: 0;
    max-width: 430px; }
    #logo .photo li img {
      width: 100%; }

#make {
  padding: 110px 0; }
  #make video {
    max-width: 354px; }
    @media screen and (max-width: 767px) {
      #make video {
        max-width: 245px; } }
  #make .row-Layout2col .col-item h3 {
    margin: 0 0 40px;
    font-weight: 500; }
  #make .row-Layout2col .col-item .copy {
    width: 80%; }
    #make .row-Layout2col .col-item .copy p:not(:last-child) {
      margin: 0 0 25px; }
  #make .row-Layout2col .col-item .qr-inner {
    width: 80%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin: 30px 0; }
    #make .row-Layout2col .col-item .qr-inner p {
      font-size: 2.57813vw;
      margin: 0 0 10px; }
      #make .row-Layout2col .col-item .qr-inner p .small {
        font-size: 50%;
        font-weight: inherit; }
  @media screen and (max-width: 767px) {
    #make {
      padding: 50px 0 65px; }
      #make .row-Layout2col .col-item h3 {
        margin: 0 0 30px; }
      #make .row-Layout2col .col-item .copy {
        width: 100%;
        margin: 35px 0 0; }
        #make .row-Layout2col .col-item .copy p:not(:last-child) {
          margin: 0 0 15px; }
      #make .row-Layout2col .col-item .qr-inner {
        width: 100%;
        display: block;
        margin: 20px 0 30px; }
        #make .row-Layout2col .col-item .qr-inner p {
          font-size: 7.55208vw;
          margin: 0 0 20px; }
          #make .row-Layout2col .col-item .qr-inner p .small {
            font-size: 50%;
            font-weight: inherit; } }

#how {
  position: relative;
  padding: 0 0 125px; }
  #how .bg {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #c1b6c1; }
  #how .slick-dots li:first-child {
    margin: 0; }
  #how .slick-arrow:not(.slick-disabled):hover {
    background: transparent !important;
    color: #fff;
    border-color: transparent !important; }
  #how .row-Layout2col {
    position: relative;
    z-index: 2;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
    #how .row-Layout2col .js-slider.how {
      display: block; }
      #how .row-Layout2col .js-slider.how .slick-list {
        max-width: 356px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 65px; }
        @media screen and (max-width: 767px) {
          #how .row-Layout2col .js-slider.how .slick-list {
            max-width: 245px; } }
    #how .row-Layout2col .slick-dotted.slick-slider {
      margin-bottom: -20px; }
    #how .row-Layout2col .slick-dots {
      margin: -15px 0; }
    #how .row-Layout2col .col-item:first-child {
      width: 55%; }
    #how .row-Layout2col .col-item:last-child {
      width: 45%; }
    #how .row-Layout2col .col-item.txt-white {
      padding: 0 50px 0 5%; }
    #how .row-Layout2col .col-item h3 {
      margin: 0 0 45px;
      font-weight: 500; }
    #how .row-Layout2col .col-item h5 {
      margin: 0 0 10px;
      font-weight: 500; }
    #how .row-Layout2col .col-item .copy {
      font-size: 1.25vw;
      line-height: 1.5;
      margin: 0 0 45px; }
  @media screen and (max-width: 767px) {
    #how {
      background: #c1b6c1;
      padding: 50px 0 10px; }
      #how .row-Layout2col {
        display: -webkit-flex;
        display: flex;
        flex-flow: column-reverse nowrap; }
        #how .row-Layout2col .js-slider.how {
          margin: 0 auto; }
          #how .row-Layout2col .js-slider.how.iphone {
            max-width: unset; }
        #how .row-Layout2col .slick-dots {
          margin: 0 0 -15px 0; }
        #how .row-Layout2col .col-item h3 {
          margin: 0 0 60px; }
        #how .row-Layout2col .col-item.txt-white {
          padding: 50px 0 40px 0; }
        #how .row-Layout2col .col-item .copy {
          font-size: 3.25521vw;
          margin: 0 0 20px; } }

#try {
  padding: 110px 0 40px;
  text-align: center;
  font-weight: 500; }
  #try h4 {
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 0; }
  #try figure {
    margin: 20px 0 35px; }
  #try .banner {
    margin-bottom: 30px; }
  @media screen and (max-width: 1200px) {
    #try {
      padding: 110px 0 0; } }
  @media screen and (max-width: 767px) {
    #try {
      padding: 70px 0 0; }
      #try p {
        margin: 22px 0 0; } }

/* Slider */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
  

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('../img/loading.gif') center center no-repeat;*/
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    /*src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');*/
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    /*margin: 0 2px;*/
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 56px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: white;
}


</style>

<script>
$(function() {

  // bg
  var target = $('#how .bg');
  $(window).on('load resize', function(){
    var h = $('#how .txt-white').outerHeight();
    target.css('height', h + 225);
    if(window.outerWidth > 1600) {
      $('#make').css('padding-bottom', '180px');
    } else {
      $('#make').css('padding-bottom', '');
    }
  });

  // scroll
  $('a[href^="#"]').click(function(){
    var speed = 1200;
    var href= $(this).attr("href");
    var target = $(href == "#" || href == "" ? 'html' : href);
    var position = target.offset().top;
    $("html, body").animate({scrollTop:position}, speed, "swing");
    return false;
  });


  // animation
  function animation(){
    $('.animation-slideup').each(function(){
      var target = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > target + 80 - windowHeight){
        $(this).css('opacity','1');
        $(this).css('transform','translateY(0)');
      }
    });
  }
  $(window).scroll(function (){
    animation();
  });


  // slider
  $('.js-slider.txt').slick({
      autoplay: true,
      arrows:false,
      dots:false,
      slidesToShow: 3,
      slidesToScroll:1,
      centerPadding: '1%',
      centerMode: true,
      autoplaySpeed: 0,
      cssEase: 'linear',
      speed: 10000,
      swipe: false,
      touchMove: false,
      rtl: true,
      responsive: [{
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll:1,
          centerPadding: '22%',
          centerMode: true,
        }
      }]
  });
  $('.js-slider.photo').slick({
      autoplay: true,
      arrows:false,
      dots:false,
      slidesToShow: 3,
      slidesToScroll:1,
      centerMode: true,
      autoplaySpeed: 0,
      cssEase: 'linear',
      speed: 10000,
      swipe: false,
      touchMove: false,
      pauseOnFocus: false,
      pauseOnHover: false,
      pauseOnDotsHover: false,
      responsive: [{
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll:1,
          centerPadding: '12%',
        }
      }]
  });
  $('.js-slider.how').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      asNavFor: '.js-slider.step',
      arrows:true,
      prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" id="slick-btn-prev" aria-label="Previous" role="button" style="">Previous</button>',
      nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" id="slick-btn-next" aria-label="Next" role="button" style="">Next</button>',
      dots:true,
      slidesToShow: 1,
      slidesToScroll:1
  });
  $('.js-slider.step').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      asNavFor: '.js-slider.how',
      arrows:false,
      dots:false,
      slidesToShow: 1,
      slidesToScroll:1,
      swipe: false
  });

});
</script>

