<div class="page-tpl about-us-2">
 	{% comment %}{% section 'page-header' %}{% endcomment %}
   <div class="br-fix">
    {% include 'breadcrumb' %}
  </div>
  
  <div class="af clearfix">
    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/aboutus_0721.jpg?v=1626852434">
    <span>
      	<h4>BRAND CONCEPT </h4>
    	ラベンダーのような甘い香りのする日常をまとい、
        優しい色気とこだわったシルエットで、
        背伸びしすぎない大人のBasicstyle。
        今もこれからの変化も楽しみ、
        素敵な夢をたくさん見せてくれる。
    </span>
  </div>
  
</div>
