<div class="page-lookbook">
  <div class="container">

    <header class="page-header">
      <div class="header-contents">
        <h2>
          {% include 'multilang' with page.title %}
        </h2>
        <p>COLLECTION</p>
      </div>
    </header>

    {% section 'lookbook-banner' %}
  </div>
</div>
