<div class="page-tpl">
  <div class="container fix">
    <div class="br-fix">
    	{% include 'breadcrumb' %}
    </div>

    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>      
    </header>
    <div class="colection-look clearfix">
      <div class="look-block01">
        <div class="look-image-img01">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_1a.jpg?v=1582924715">
          <div class="look_image-credit"><p>Vネックカットワンピース ¥8,000+tax</p><p>ウエストバックルワイドパンツ ¥11,800+tax</p><p>2WAYシュシュ ¥1,500+tax</p></div>
        </div>
      </div>
      <div class="look-block02 clearfix">
        <div class="look-image-img02">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook2.jpg?v=1582787449">
          <div class="look_image-credit"><p>Vネックカットワンピース ¥8,000+tax</p></div>
        </div>
      </div>      
      <div class="look-block03 clearfix">
        <div class="look-image-img03">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_3a.jpg?v=1582924716">
          <div class="look_image-credit"><p>シャイニートレンチコート ¥15,800+tax</p><p>フレンチスリーブTシャツ ¥5,000+tax</p><p>マーメイドサテンスカート ¥8,500+tax</p></div>
        </div>
        <div class="look-image-img04">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook4.jpg?v=1582787450">
          <div class="look_image-credit"><p>フレンチスリーブTシャツ ¥5,000+tax</p><p>ダブルクリップイヤカフ ¥2,500+tax</p></div>
        </div>
      </div>      
      <div class="look-block04 clearfix">
        <div class="look-image-img05">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_5a.jpg?v=1582924716">
          <div class="look_image-credit"><p>FLOWER PHOTO Tシャツ ¥5,500+tax</p><p>マーメイドサテンスカート ¥8,500+tax</p><p>フェイクレザースニーカー ¥16,000+tax</p><p>フープピアス ¥2,500+tax</p></div>
        </div>
      </div>      
      <div class="look-block05 clearfix">
        <div class="look-image-img06">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_6b.jpg?v=1582926305">
          <div class="look_image-credit"><p>リネンジャケット ¥12,800+tax</p><p>リネンベルトハーフパンツ ¥9,500+tax</p><p>シャイニー2WAYトップス　¥7,000+tax</p></div>
        </div>
      </div>      
      <div class="look-block06 clearfix">
        <div class="look-image-img07">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_7a.jpg?v=1582924716">
          <div class="look_image-credit"><p>MEN'S FLOWER PHOTO Tシャツ　¥5,500+tax</p><p>アシメフリルスカート ¥8,500+tax</p><p>フープピアス ¥2,500+tax</p></div>
        </div>
        <div class="look-image-img08"><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_8a.jpg?v=1582924717"></div>
      </div>      
      <div class="look-block07 clearfix">
        <div class="look-image-img09">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_9a.jpg?v=1582924717">
          <div class="look_image-credit"><p>コットンレースワンピース　¥14,800+tax </p><p>ラフィアハット　¥6,000+tax</p></div>
        </div>
      </div>     
      <div class="look-block08 clearfix">
        <div class="look-image-img10">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook10.jpg?v=1582787449">
          <div class="look_image-credit"><p>コットンレースワンピース　¥14,800+tax</p><p>ラフィアハット　¥6,000+tax</p></div>
        </div>
      </div>      
      <div class="look-block09 clearfix">
        <div class="look-image-img11">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_11a.jpg?v=1582924715">
          <div class="look_image-credit"><p>BACKリボンカットトップス　¥6,800+tax</p><p>ウエストバックルワイドパンツ　¥11,800+tax</p><p>LAVANDAトートバック　¥6,500+tax</p></div>
        </div>        
        <div class="look-image-img12">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_12a.jpg?v=1582924716">
          <div class="look_image-credit"><p>サイドギャザーワンピース　¥14,800+tax </p><p>シャイニーサンダル　¥13,000+tax</p><p>LAVANDAキャップ　¥4,800+tax</p><p>ウェーブネックレス　¥2,500+tax</p></div>
        </div>
      </div>      
      <div class="look-block10 clearfix">
        <div class="look-image-img13">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook13.jpg?v=1582787449">
          <div class="look_image-credit"><p>シャイニー2WAYトップス　¥7,000+tax</p><p>マーメイドサテンスカート　¥8,500+tax</p><p>ダブルクリップイヤカフ　¥2,500+tax</p><p>コットンレースワンピース　¥14,800+tax</p></div>
        </div>
        <div class="look-image-img14">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook_14a.jpg?v=1582924714">
          <div class="look_image-credit"><p>刺繍ロゴパーカー　¥7,500+tax</p><p>BACKクロスロンパース　¥12,800+tax</p><p>シャイニーサンダル　¥13,000+tax</p></div>
        </div>
      </div>      
      <div class="look-block11 clearfix">
        <div class="look-image-img15">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook15.jpg?v=1582787449">
          <div class="look_image-credit"><p>LAVANDAキャップ　¥4,800+tax</p></div>
        </div>
      </div>      
      <div class="look-block12 clearfix">
        <div class="look-image-img16">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook16.jpg?v=1582787449">
          <div class="look_image-credit"><p>MEN'S FLOWER PHOTO Tシャツ　¥5,500+tax</p><p>FLOWER PHOTO Tシャツ　¥5,500+tax</p></div>
        </div>
      </div>
      <div class="look-block13 clearfix">
        <div class="look-image-img17">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/lookbook17.jpg?v=1582787449">
          <div class="look_image-credit"><p>LAVANDAトートバック　¥6,500+tax</p></div>
        </div>
      </div>
    </div>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>
