
<div class="main-container">
  <div class="main-wrapper clearfix">
    <article id="LINK">
      <!-- パンくず -->
      <div class="MV">
        {% comment %}
        <div class="page-tpl">
          <ol>
            <li><a href="https://lavanda.jp/" class="r-arrow">HOME</a></li>
            <li><a href="https://lavanda.jp/collections/room-collection" class="r-arrow">COLLECTION</a></li>
            <li><a>2020 SS COLLECTION</a></li>
          </ol>
        </div>
        {% endcomment %}
      </div>

      <div class="content-wrapper">
        <section class="style-coordinate-1">
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img01.jpg?v=1593494362" alt=""> </div>
          <div class="img-box2"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img02.jpg?v=1593494362" alt="" class="pc"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img02-sp.jpg?v=1593494362" alt="" class="sp"> </div>
          <div class="txt-box">
            <p><a href="/products/mute-devotion-tshirts">Mute Devotion Tシャツ ¥5,500(+tax)</a><br> <a href="/products/mermaid-satin-skirt">マーメイドサテンスカート ¥8,500(+tax)</a><br><a href="/products/raffia-hat">ラフィアハット ¥6,000(+tax)</a> </p>
          </div>
        </section>
        <section class="style-coordinate-2">
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img03.jpg?v=1593494362" alt=""> </div>
          <div class="img-box2"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img04.jpg?v=1593494362" alt=""> </div>
          <div class="img-box1-sp"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img03.jpg?v=1593494362" alt=""> </div>
          <div class="txt-box">
            <p> <a href="/products/bicolor-ring-pierce">バイカラーリングピアス ¥2,800(+tax)</a><br> <a href="/products/2way-chouchou">2WAYシュシュ ¥1,500(+tax)</a><br> <a href="/products/cotton-lace-one-piece">コットンレースワンピース ¥14,800(+tax)</a><br> <a href="/products/skinny-denim-pants">スキニーデニムパンツ ¥12,800(+tax)</a> </p>
          </div>
        </section>
        <section class="style-coordinate-3">
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img05.jpg?v=1593494362" alt=""> </div>
          <div class="img-box2"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img06.jpg?v=1593494362" alt="" class="pc"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img06-sp.jpg?v=1593494362" alt="" class="sp"> </div>
          <div class="txt-box">
            <p> <a href="/products/bicolor-ring-pierce">バイカラーリングピアス ¥2,800(+tax)</a><br> <a href="/products/boston-sunglasses">ボストンサングラス ¥3,800(+tax)</a><br> <a href="/products/shiny-2way-tops">シャイニー2WAYトップス ¥7,000(+tax)</a><br> <a href="/products/skinny-denim-pants">スキニーデニムパンツ ¥12,800(+tax)</a> </p>
          </div>
        </section>
        <section class="style-coordinate-4">
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img07.jpg?v=1593494362" alt=""> </div>
          <div class="img-box2"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img08.jpg?v=1593494362" alt=""> </div>
          <div class="img-box1-sp"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img08-sp.jpg?v=1593494362" alt=""> </div>
          <div class="txt-box">
            <p> <a href="/products/lavanda-cap">LAVANDAキャップ ¥4,800(+tax)</a><br> <a href="/products/twist-hoop-pierce">ツイストフープピアス ¥2,500(+tax)</a><br> <a href="/products/mute-devotion-tshirts">Mute Devotion Tシャツ ¥5,500(+tax)</a><br> <a href="/products/asymmetrical-ruffled-skirt">アシメフリルスカート ¥8,500(+tax)</a> </p>
          </div>
        </section>
        <section class="style-coordinate-5">
          <div class="img-box2-sp"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img10-sp.jpg?v=1593494362" alt="" class="sp"> </div>
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img09.jpg?v=1593494362" alt="" class="pc"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img09-sp.jpg?v=1593494362" alt="" class="sp"> </div>
          <div class="img-box2"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img10.jpg?v=1593494362" alt=""> </div>
          <div class="txt-box">
            <p> <a href="/products/marble-hairpin-set">マーブルヘアピンSET ¥2,000(+tax)</a><br> <a href="/products/twist-hoop-pierce">ツイストフープピアス ¥2,500(+tax)</a><br> <a href="/products/double-ring-necklace">ダブルリングネックレス ¥2,500(+tax)</a><br> <a href="/products/be-mine-tshirts">BE MINE Tシャツ ¥5,500(+tax)</a> </p>
          </div>
        </section>
        <section class="style-coordinate-6">
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img11.jpg?v=1593494362" alt=""> </div>
          <div class="txt-box">
            <p> <a href="/products/hoop-earings">フープピアス ¥2,500(+tax)</a><br> <a href="/products/linen-jacket">リネンジャケット ¥12,800(+tax)</a><br> <a href="/products/french-sleeve-t-shirt">フレンチスリーブTシャツ ¥5,000(+tax)</a><br> <a href="/products/wide-denim-pants">ワイドデニムパンツ ¥12,800(+tax)</a> </p>
          </div>
        </section>
        <section class="style-coordinate-7">
          <div class="img-box1"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img12.jpg?v=1593494362" alt=""> </div>
          <div class="img-box2"> <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img13.jpg?v=1593494362" alt=""> </div>
          <div class="txt-box">
            <p> <a href="/products/2way-chouchou">2WAYシュシュ ¥1,500(+tax)</a><br> <a href="/products/hoop-earings">フープピアス ¥2,500(+tax)</a><br> <a href="/products/v-neck-cut-one-piece">Vネックカットワンピース ¥8,000(+tax)</a><br> <a href="/products/wide-denim-pants">ワイドデニムパンツ ¥12,800(+tax)</a><br> <a href="/products/shiny-sandals">シャイニーサンダル ¥13,000(+tax)</a> </p>
          </div>
        </section>
      </div>
    </article>
  </div>
  <!-- #main -->
  
<style>
  
.MV {
  display: block;
  width: 100%;
  height: 714px;
  background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mainvisual01.jpg?v=1593619242);
  background-size: 1280px;
  background-position: top center;
  background-repeat: no-repeat; 
}
  @media screen and (max-width: 767px) {
    .MV {
      height: 1269px;
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mainvisual-sp.jpg?v=1593494362);
      background-size: 750px; 
    } 
  }
  @media screen and (max-width: 639px) {
    .MV {
      height: 1050px;
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mainvisual-sp.jpg?v=1593494362);
      background-size: 100%; 
    } 
  }
  @media only screen and (max-width: 500px) {
    .MV {
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mainvisual-sp.jpg?v=1593494362);
      background-size: 100%;
      height: 850px;
    } 
  }
  @media screen and (max-width: 479px) {
    .MV {
      height: 700px;
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mainvisual-sp.jpg?v=1593494362);
      background-size: 100%; 
    } 
  }
  @media screen and (max-width: 374px) {
    .MV {
      height: 570px;
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/mainvisual-sp.jpg?v=1593494362);
      background-size: 100%; 
    }
  }
  
.content-wrapper {
  width: 100%;
  max-width: 1149px;
  margin: auto;
  position: relative;
  /* text-align: center; */
  margin-top: 0px;
  overflow: hidden; }
  @media screen and (max-width: 479px) {
    .content-wrapper {
      margin-top: 0px; } }

section {
  position: relative;
  margin-top: 200px;
  text-align: center; }

.style-coordinate-1 {
  width: 100%;
  margin: auto;
  display: block; }
  .style-coordinate-1 .img-box1 {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    top: 10px;
    vertical-align: bottom; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-1 .img-box1 {
        width: 50%;
        margin-right: 20px;
        position: relative;
        top: 200px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-1 .img-box1 {
        width: 90%;
        margin: auto;
        vertical-align: initial; }
        .style-coordinate-1 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title01-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 219px;
          display: block;
          z-index: 1;
          position: relative;
          top: -30px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-1 .img-box1 {
        margin: auto;
        margin-top: 310px;
        vertical-align: initial;
        display: block;
        top: 0px; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-1 .img-box1 {
        margin-top: 180px; }
        .style-coordinate-1 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title01-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 120px;
          display: block;
          z-index: 1;
          position: relative;
          top: -30px; } }
  .style-coordinate-1 .img-box2 {
    display: inline-block;
    position: relative;
    top: 220px; }
    .style-coordinate-1 .img-box2 .pc {
      display: block; }
    .style-coordinate-1 .img-box2 .sp {
      display: none; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-1 .img-box2 {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-1 .img-box2 {
        width: 80%;
        max-width: 580px;
        position: relative;
        display: block;
        margin: 30px 5% auto auto;
        top: 0; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-1 .img-box2 {
        margin: 15px 5% auto auto; } }
    .style-coordinate-1 .img-box2::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title01.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: 20px;
      left: -35px;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .style-coordinate-1 .img-box2::before {
          content: "";
          display: none; } }
  .style-coordinate-1 .txt-box {
    display: block;
    text-align: left;
    width: 100%;
    position: relative;
    top: 35px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-1 .txt-box {
        position: relative;
        left: 5%;
        display: block;
        top: 220px; } }
    @media screen and (max-width: 979px) {
      .style-coordinate-1 .txt-box {
        display: block;
        margin: auto;
        margin-top: 50px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-1 .txt-box {
        position: relative;
        left: 5px;
        margin-top: 50px;
        padding: 0 20px;
        display: block;
        top: 0; } }

.style-coordinate-2 {
  width: 100%;
  margin: auto;
  margin-top: 90px;
  display: block; }
  @media screen and (max-width: 1159px) {
    .style-coordinate-2 {
      margin-top: 120px; } }
  @media screen and (max-width: 767px) {
    .style-coordinate-2 {
      margin-top: 265px; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-2 {
      margin-top: 130px; } }
  .style-coordinate-2 .img-box1 {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    top: 265px; }
    .style-coordinate-2 .img-box1::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title02.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: 15px;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .style-coordinate-2 .img-box1::before {
          content: "";
          display: none; } }
    @media screen and (max-width: 1159px) {
      .style-coordinate-2 .img-box1 {
        width: 50%;
        margin-right: 20px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-2 .img-box1 {
        display: none; } }
  .style-coordinate-2 .img-box2 {
    display: inline-block;
    position: relative;
    top: 45px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-2 .img-box2 {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-2 .img-box2 {
        width: 90%;
        display: block;
        margin: auto;
        position: relative;
        top: 0; }
        .style-coordinate-2 .img-box2::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title02.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 220px;
          display: block;
          z-index: 1;
          margin-bottom: 30px; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-2 .img-box2::before {
        content: "";
        background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title02.png?v=1593494362);
        background-size: contain;
        background-repeat: no-repeat;
        height: 120px;
        display: block;
        z-index: 1;
        margin-bottom: 30px; } }
  .style-coordinate-2 .img-box1-sp {
    display: none;
    margin-right: 60px;
    position: relative;
    top: 265px; }
    .style-coordinate-2 .img-box1-sp::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title02.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: 15px;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .style-coordinate-2 .img-box1-sp::before {
          content: "";
          display: none; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-2 .img-box1-sp {
        display: block;
        display: block;
        width: 90%;
        max-width: 580px;
        position: relative;
        top: 0px;
        margin-top: 30px; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-2 .img-box1-sp {
        display: block;
        width: 75%;
        max-width: initial;
        position: relative;
        top: 0px;
        margin-top: 15px; } }
  .style-coordinate-2 .txt-box {
    position: relative;
    /* right: -30px; */
    text-align: left;
    left: 56%;
    top: -20px;
    margin: 0; }
    @media screen and (max-width: 979px) {
      .style-coordinate-2 .txt-box {
        display: block;
        margin: auto; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-2 .txt-box {
        display: block;
        margin: auto;
        position: initial;
        margin: 30px 0 0 5%; } }

.style-coordinate-3 {
  width: 100%;
  margin: auto;
  margin-top: 290px;
  display: block; }
  @media screen and (max-width: 767px) {
    .style-coordinate-3 {
      margin-top: 400px; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-3 {
      margin-top: 130px; } }
  .style-coordinate-3 .img-box1 {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    top: 0;
    vertical-align: bottom; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-3 .img-box1 {
        width: 50%;
        margin-right: 20px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-3 .img-box1 {
        width: 90%;
        margin: auto; }
        .style-coordinate-3 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title03-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 220px;
          display: block;
          z-index: 1;
          margin-bottom: 30px; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-3 .img-box1 {
        width: 90%;
        margin: auto 0 auto auto; }
        .style-coordinate-3 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title03-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 120px;
          display: block;
          z-index: 1;
          margin-bottom: 30px; } }
  .style-coordinate-3 .img-box2 {
    display: inline-block;
    position: relative;
    top: 150px; }
    .style-coordinate-3 .img-box2 .pc {
      display: block; }
    .style-coordinate-3 .img-box2 .sp {
      display: none; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-3 .img-box2 {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-3 .img-box2 {
        width: 95%;
        margin: auto 0 auto 5%;
        position: relative;
        display: block;
        top: 0;
        margin-top: 30px; }
        .style-coordinate-3 .img-box2 .pc {
          display: none; }
        .style-coordinate-3 .img-box2 .sp {
          display: block; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-3 .img-box2 {
        margin-top: 15px; } }
    .style-coordinate-3 .img-box2::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title03.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      height: 146px;
      display: block;
      position: relative;
      top: 5px;
      z-index: 1;
      right: 100px;
      margin-bottom: 30px; }
      @media screen and (max-width: 767px) {
        .style-coordinate-3 .img-box2::before {
          content: "";
          display: none; } }
  .style-coordinate-3 .txt-box {
    display: block;
    text-align: left;
    width: 100%;
    position: relative;
    top: 30px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-3 .txt-box {
        position: relative;
        left: 40px; } }
    @media screen and (max-width: 979px) {
      .style-coordinate-3 .txt-box {
        display: block;
        margin: auto;
        margin-top: 50px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-3 .txt-box {
        position: relative;
        left: 5%;
        margin-top: 30px; } }

.style-coordinate-4 {
  width: 100%;
  margin: auto;
  margin-top: 320px;
  display: block; }
  @media screen and (max-width: 1159px) {
    .style-coordinate-4 {
      margin-top: 265px; } }
  @media screen and (max-width: 767px) {
    .style-coordinate-4 {
      margin-top: 315px; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-4 {
      margin-top: 135px; } }
  .style-coordinate-4 .img-box1 {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    top: 40px; }
    @media screen and (max-width: 767px) {
      .style-coordinate-4 .img-box1 {
        display: none; } }
    .style-coordinate-4 .img-box1::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title04.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: -20px;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .style-coordinate-4 .img-box1::before {
          content: "";
          display: none; } }
    @media screen and (max-width: 1159px) {
      .style-coordinate-4 .img-box1 {
        width: 50%;
        margin-right: 20px; } }
  .style-coordinate-4 .img-box2 {
    display: inline-block; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-4 .img-box2 {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-4 .img-box2 {
        display: none; } }
  .style-coordinate-4 .img-box1-sp {
    display: none; }
  @media screen and (max-width: 767px) {
    .style-coordinate-4 .img-box1-sp {
      display: block; }
      .style-coordinate-4 .img-box1-sp img {
        margin-top: 30px; }
      .style-coordinate-4 .img-box1-sp::before {
        content: "";
        background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title04-sp.png?v=1593494362);
        background-size: contain;
        background-repeat: no-repeat;
        height: 219px;
        display: block;
        position: relative;
        top: 0;
        margin-bottom: 30px;
        z-index: 1;
        margin: auto;
        display: block;
        width: 90%; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-4 .img-box1-sp::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title04-sp.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 120px;
      display: block;
      position: relative;
      top: 0;
      margin-bottom: 30px;
      z-index: 1;
      margin: auto;
      display: block;
      width: 90%; } }
  .style-coordinate-4 .txt-box {
    position: relative;
    /* right: -30px; */
    text-align: left;
    left: 0;
    top: -140px;
    margin: 0; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-4 .txt-box {
        position: relative;
        left: 40px;
        top: 60px; } }
    @media screen and (max-width: 979px) {
      .style-coordinate-4 .txt-box {
        display: block;
        margin: auto;
        top: 50px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-4 .txt-box {
        display: block;
        margin: auto auto auto 5%;
        top: 30px;
        left: initial; } }

.style-coordinate-5 {
  width: 100%;
  margin: auto;
  margin-top: 120px;
  display: block;
  height: 160vh; }
  @media screen and (max-width: 1159px) {
    .style-coordinate-5 {
      height: 150vh;
      width: 95%;
      margin-top: 240px; } }
  @media screen and (max-width: 979px) {
    .style-coordinate-5 {
      height: 140vh; } }
  @media screen and (max-width: 767px) {
    .style-coordinate-5 {
      width: 100%;
      margin-top: 320px;
      height: auto; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-5 {
      margin-top: 140px; } }
  .style-coordinate-5 .img-box1 {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    left: 0;
    float: left;
    clear: both;
    z-index: 1; }
    .style-coordinate-5 .img-box1 .pc {
      display: block; }
    .style-coordinate-5 .img-box1 .sp {
      display: none; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-5 .img-box1 {
        width: 60%;
        margin-right: 20px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-5 .img-box1 {
        width: 90%;
        position: relative;
        margin: auto 0 auto auto;
        display: block;
        float: initial;
        right: 0; }
        .style-coordinate-5 .img-box1 .pc {
          display: none; }
        .style-coordinate-5 .img-box1 .sp {
          display: block; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-5 .img-box1 {
        width: 90%; } }
  .style-coordinate-5 .img-box2 {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-5 .img-box2 {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-5 .img-box2 {
        display: none; } }
    .style-coordinate-5 .img-box2::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title05.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: 30px;
      left: 22%;
      z-index: 1; }
      @media screen and (max-width: 1159px) {
        .style-coordinate-5 .img-box2::before {
          left: 10%; } }
      @media screen and (max-width: 767px) {
        .style-coordinate-5 .img-box2::before {
          content: "";
          display: none; } }
  .style-coordinate-5 .img-box2-sp {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    display: none; }
    .style-coordinate-5 .img-box2-sp .pc {
      display: block; }
    .style-coordinate-5 .img-box2-sp .sp {
      display: none; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-5 .img-box2-sp {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-5 .img-box2-sp {
        display: block;
        width: 100%;
        position: relative;
        margin: 0;
        left: 0;
        margin-bottom: 30px; }
        .style-coordinate-5 .img-box2-sp .sp {
          display: block; }
        .style-coordinate-5 .img-box2-sp img {
          width: 100%;
          max-width: 490px; }
        .style-coordinate-5 .img-box2-sp::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title05-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 223px;
          display: block;
          position: relative;
          z-index: 1;
          width: 90%;
          margin: auto auto 30px auto; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-5 .img-box2-sp {
        margin-bottom: 15px; }
        .style-coordinate-5 .img-box2-sp img {
          width: 70%;
          max-width: initial; }
        .style-coordinate-5 .img-box2-sp::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title05-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 120px;
          display: block;
          position: relative;
          z-index: 1;
          width: 90%;
          margin: auto auto 15px auto; } }
  .style-coordinate-5 .txt-box {
    display: block;
    text-align: left;
    width: 17.5%;
    position: relative;
    top: 890px;
    float: right;
    z-index: 1; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-5 .txt-box {
        top: 820px; } }
    @media screen and (max-width: 979px) {
      .style-coordinate-5 .txt-box {
        width: 96%;
        display: block;
        margin: auto;
        margin-top: 50px;
        padding: 0 30px;
        top: 0; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-5 .txt-box {
        margin: 30px auto auto auto;
        padding: initial;
        width: 100%;
        display: block;
        position: relative;
        left: 5%; } }

.style-coordinate-6 {
  width: 100%;
  margin: auto;
  margin-top: 195px;
  display: block;
  height: 180vh; }
  @media screen and (max-width: 979px) {
    .style-coordinate-6 {
      height: 160vh; } }
  @media screen and (max-width: 1159px) {
    .style-coordinate-6 {
      margin-top: 190px; } }
  @media screen and (max-width: 767px) {
    .style-coordinate-6 {
      height: auto;
      margin-top: 450px; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-6 {
      margin-top: 0px; } }
  .style-coordinate-6 .img-box1 {
    display: inline-block;
    margin-right: 0px;
    position: relative;
    top: 0px;
    right: 0;
    float: right; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-6 .img-box1 {
        width: 50%;
        margin-right: 20px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-6 .img-box1 {
        width: 100%;
        margin: auto 0 auto auto; }
        .style-coordinate-6 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title06-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 220px;
          display: block;
          z-index: 1;
          width: 90%;
          margin: auto auto 30px auto; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-6 .img-box1 {
        margin-top: 130px; }
        .style-coordinate-6 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title06-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 120px;
          display: block;
          z-index: 1;
          width: 90%;
          margin: auto auto 15px auto; } }
  .style-coordinate-6 .txt-box {
    width: 100%;
    position: relative;
    /* right: -30px; */
    text-align: left;
    left: 0;
    top: 10%;
    margin: 0; }
    .style-coordinate-6 .txt-box::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title06.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: 10px;
      z-index: 1;
      margin-bottom: 65px; }
      @media screen and (max-width: 767px) {
        .style-coordinate-6 .txt-box::before {
          content: "";
          display: none; } }
    .style-coordinate-6 .txt-box p {
      margin-top: 30px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-6 .txt-box {
        position: relative;
        text-align: left;
        left: 5%;
        top: 10%;
        margin: 0; } }
    @media screen and (max-width: 979px) {
      .style-coordinate-6 .txt-box {
        display: block;
        margin: auto;
        width: 95%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-6 .txt-box {
        width: 100%;
        top: 20px;
        left: 5%; } }

.style-coordinate-7 {
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 150px;
  margin-top: -25px; }
  @media screen and (max-width: 767px) {
    .style-coordinate-7 {
      margin-top: 350px; } }
  @media screen and (max-width: 479px) {
    .style-coordinate-7 {
      margin-top: 170px; } }
  .style-coordinate-7 .img-box1 {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    top: -55px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-7 .img-box1 {
        width: 50%;
        margin-right: 20px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-7 .img-box1 {
        width: 90%;
        position: relative;
        top: 0;
        margin: 0 0 30px 0; }
        .style-coordinate-7 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title07-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 219px;
          display: block;
          z-index: 1;
          margin-bottom: 30px; } }
    @media screen and (max-width: 479px) {
      .style-coordinate-7 .img-box1 {
        width: 90%;
        max-width: initial;
        position: relative;
        right: 0;
        top: 0;
        margin: auto auto 15px auto;
        display: block; }
        .style-coordinate-7 .img-box1::before {
          content: "";
          background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title07-sp.png?v=1593494362);
          background-size: contain;
          background-repeat: no-repeat;
          height: 120px;
          display: block;
          z-index: 1;
          margin-bottom: 30px; } }
  .style-coordinate-7 .img-box2 {
    display: inline-block;
    position: relative;
    top: 90px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-7 .img-box2 {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-7 .img-box2 {
        width: 100%;
        max-width: 550px;
        position: relative;
        right: 0;
        top: 0;
        margin: auto 0 auto auto;
        display: block; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-7 .img-box2 {
        width: 75%;
        max-width: auto; } }
    .style-coordinate-7 .img-box2::before {
      content: "";
      background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/title07.png?v=1593494362);
      background-size: contain;
      background-repeat: no-repeat;
      height: 146px;
      display: block;
      position: relative;
      top: 20px;
      left: -30px;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        .style-coordinate-7 .img-box2::before {
          content: "";
          display: none; } }
  .style-coordinate-7 .txt-box {
    display: block;
    text-align: left;
    width: 100%;
    position: relative;
    top: -50px; }
    @media screen and (max-width: 1159px) {
      .style-coordinate-7 .txt-box {
        position: relative;
        left: 40px; } }
    @media screen and (max-width: 979px) {
      .style-coordinate-7 .txt-box {
        display: block;
        margin: auto;
        margin-top: 50px; } }
    @media screen and (max-width: 767px) {
      .style-coordinate-7 .txt-box {
        position: relative;
        left: 5%;
        margin-top: 0;
        display: block;
        top: 30px; } }
</style>