<!-- 2022 SPRING COLLECTION -->

<div class="fv">
	<div class="fv-tit">
		<h1>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_title.png?v=1632460598" alt="2022 SPRING COLLECTION" />
		</h1>
	</div>
	<!-- ￼fv-tit -->
	<div class="fv-bg pc-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1822_1.5x.jpg?v=1645340794" alt="" />
	</div>
	<!-- ￼fv-bg -->
	<div class="fv-bg sp-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1822_sp.jpg?v=1632460599" alt="" />
	</div>
	<!-- ￼fv-bg -->
</div>
<!-- ￼fv -->

<div class="lp-container">

	<!-- LOOP -->
	<div class="lp-contents lp-no-1">
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0454_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sjk1">ロゴパッチルーズデニムJK バンダナSET</a>
					</td>
					<td>¥12,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sp2">ロゴパッチデニムサロペット</a>
					</td>
					<td>¥13,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac11">ビーズチェーンネックレスSET</a>
					</td>
					<td>¥3,500(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0272_sp.jpg?v=1632460599" alt="" />
			
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-2">
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0496_sp.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22skt1">カレッジルーズカーディガン</a>
					</td>
					<td>¥10,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22scs2">オリジナル2パックTシャツ</a>
					</td>
					<td>¥8,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac21">エンブレムロゴハイソックス</a>
					</td>
					<td>¥2,500(tax in)</td>
				</tr>
			</table>
		</div>
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0582_sp.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-3">
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0705_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sb1">シアーチェックブラウス</a>
					</td>
					<td>¥8,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22ss2">シアーチェックパッチワークスカート</a>
					</td>
					<td>¥11,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22ssh1">ナローストラップサンダル</a>
					</td>
					<td>¥9,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac25">デニムワイドカチューシャ</a>
					</td>
					<td>¥1,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac4">パールカーブピアス</a>
					</td>
					<td>¥2,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<ul>
			<li>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0817_sp.jpg?v=1632460599" alt="" /></li>
		    <li>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0835_sp.jpg?v=1645184656" alt="" /></li>
			</ul>
			
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-4">
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_0915_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22scs3">キャンパスナンバープリントTシャツ</a>
					</td>
					<td>¥6,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22skt1">カレッジルーズカーディガン</a>
					</td>
					<td>¥10,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac20">モノグラ ムロゴデニムキャップ</a>
					</td>
					<td>¥5,500(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<ul>
				<li>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1028_sp.jpg?v=1632460598" alt="" />
				</li>
				<li>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1208_sp.jpg?v=1632460599" alt="" />
				</li>
			</ul>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
		<div class="lp-contents lp-no-5">
			<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1307_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sp2">ロゴパッチデニムサロペット</a>
					</td>
					<td>¥13,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22scs1">フラワーフォトハクプリントTシャツ</a>
					</td>
					<td>¥5,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac26">ロゴモチーフバンダナ</a>
					</td>
					<td>¥1,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
			<div class="lp-boxs">
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1397_sp.jpg?v=1632460598" alt="" />
			</div>
			<!-- lp-box -->
		</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-6">
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_LAVANDA.png?v=1632460598" alt="" />
			</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1638_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22skt2">パールボタンニットTOPS</a>
					</td>
					<td>¥7,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22ss2">シアーチェックパッチワークスカート</a>
					</td>
					<td>¥11,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac24">デニムリボンポニーフック</a>
					</td>
					<td>¥1,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1562_sp.jpg?v=1632460598" alt="" />
			</div>
			<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-7">
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1699_sp.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22scs4">メッセージハーフジップスウェット</a>
					</td>
					<td>¥8,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac1">パイルバケットハット</a>
					</td>
					<td>¥5,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac22">エンブレ ムロゴソックス</a>
					</td>
					<td>¥2,500(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<ul>
				<li>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1908_2_sp.jpg?v=1632460599" alt="" /></li>
			<li>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_1908_2_sp.jpg?v=1632460599" alt="" >
				</li>
			</ul>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-8">
				<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_2050_sp.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22ssop2">フリルチュニック</a>
					</td>
					<td>¥13,500(tax in)</td>
				</tr>
				
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_W1_2150_sp.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

</div>
<!-- lp-container -->
			
<style>
.pc-aw {
  display: block;
}

.sp-aw {
  display: none;
}

.fv {
  position: relative;
  z-index: 1;
  max-height: 1203px;
  text-align: center; margin: 0 auto; overflow: hidden;
}

.fv-tit {
    position: absolute;
    z-index: 2;
    bottom: 5vw;
    right: 18vw;
    width: 276px;
}

.fv-tit img {
  width: 276px;
}

.fv-bg {
  width: 100%;
}

.fv-bg.pc-aw { width: 100%;}

.lp-container {
  padding: 100px 0 106px;
}

.lp-contents {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.lp-contents table {
  padding: 0;
  border: none;
  /*min-width: 92vw;*/
    margin: 30px auto 0 auto;
    text-align: left;
    border-left: 3px solid #852a25;
}

.lp-contents table td {
  padding: 5px 0 5px 15px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #010101;
  border: none;
}

.lp-contents table td a {
  color: #010101;
}

.lp-contents h2 {
  position: absolute;
  z-index: 3;
}

.lp-contents h2 img {
  width: 68px;
}

.lp-boxs {
  position: relative;
  z-index: 2;
}

.lp-bg {
  position: absolute;
  z-index: 1;
  background-color: #f2eeeb;
}

.lp-abg {
  background-color: #f2eeeb;
}

.lp-no-1 {
	width: 692px; margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
/*  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;*/
}

.lp-no-1 table {
  margin: 30px 0 0 0;
  border-left: 3px solid #852a25;
}

.lp-no-1 .lp-boxs:nth-child(1) {
  width: 600px;
}
.lp-no-1 .lp-boxs:nth-child(1) img { width: 364px;}

.lp-no-1 .lp-boxs:nth-child(2) {
  width: 282px;
  position: absolute; right: 0; top:86px;
}

.lp-no-1 .lp-bg {
  top: 200px;
  left: 153px;
  width: 547px;
  height: 357px;
}

.lp-no-2 {
  margin-top: 130px; flex-flow: row-reverse; max-width: 900px;
	min-height: 680px;
}
.lp-no-2::before{
	content: "";
	position: absolute;
	background-color: #fff7df;
	width: 100%; height: 420px;
	right: 0; top: 0;
	margin: 0 -62%;
    padding: 0 62%;
}

.lp-no-2 h2 {
  top: 218px;
  width: 100%;
  text-align: center;
}

.lp-no-2 .lp-boxs:nth-child(1) {
  width: 480px; min-height: 643px; right: 0;
	position: absolute; margin-top: 45px;
}

.lp-no-2 .lp-boxs:nth-child(1) img { width: 327px;
position: absolute;}

.lp-no-2 .lp-boxs:nth-child(2){
	position: absolute;
	left: 145px;
    bottom: 0;
}

.lp-no-2 .lp-boxs:nth-child(2) img { width: 243px;}

.lp-no-2 .lp-boxs table {
  min-width: 50%;
    position: absolute;
    bottom: 10px;
  margin: auto;

}

.lp-no-3 {
 /* -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;*/
  margin-top: 130px; width: 810px; min-height: 843px;
}

.lp-no-3 h2 {
  top: 47px;
  width: 100%;
  text-align: center;
}

.lp-no-3 table {
	position: absolute; bottom: 0; left: 0; right: 0; min-width: 560px;
}

.lp-no-3 .lp-boxs:nth-child(1) {
  width: 100%;
}
.lp-no-3 .lp-boxs:nth-child(1) img{ width: 361px;}

.lp-no-3 .lp-boxs:nth-child(2) {
  width: 413px;
  position: absolute; right: 0; top: 378px;
 
}
.lp-no-3 ul{ display: flex; justify-content: space-between; flex-wrap: wrap;}
.lp-no-3 li{ width: 49%;}
.lp-no-3 li img{ width: 100%;} 

.lp-no-4 {
  margin-top: 130px; min-height: 666px; width: 820px;
}

.lp-no-4 h2 {
  top: 24px;
  right: 20px;
}
.lp-no-4 .lp-boxs:nth-child(1){
	width: 820px;
	position: relative;
}
.lp-no-4 .lp-boxs:nth-child(1) img{
	width: 377px;
}
.lp-no-4:before{
	content:"";
	background-color: #fff7df;
	width: 100%; height: 314px;
	position: absolute; top: 120px; margin: 0 -200%; padding: 0 200%;
}
.lp-no-4 .lp-boxs:nth-child(2) {
    position: absolute; right: 0; top: 90px;
    width: 372px;}

.lp-no-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0; justify-content: space-between;
}

.lp-no-4 ul li {
  width: calc((100% - 5px ) / 2);
  margin-bottom: 0;
}

.lp-no-4 table {
	position: absolute; width: 495px;
	bottom: 0; right: 0; left: 50px; margin: auto;
}


.lp-no-4 .lp-boxs:nth-child(2) li:nth-child(1){
	width: 170px;
}
.lp-no-4 .lp-boxs:nth-child(2) li:nth-child(2){
	width: 183px; margin-top: 118px;
}

.lp-no-5 {
 width: 683px; margin-top: 130px;
}

.lp-no-5 h2 {
  top: 81px;
  left: 122px;
}

.lp-no-5 table {
min-width: 560px;
    margin: 30px 0 0 0;
}

.lp-no-5 .lp-boxs:nth-child(1) {
  width: 600px; margin-top: 110px;
}

.lp-no-5 .lp-boxs:nth-child(1) img{ width: 365px; }

.lp-no-5 .lp-boxs:nth-child(2) {
    width: 276px;
    position: absolute; top: 0; right: 0;
}

.lp-no-6 {
  margin-top: 130px; min-height: 880px; width: 800px;
}

.lp-no-6 h2 {
  top: 565px;
  left: 20px;
}
.lp-no-6::before {
	    content: "";
    background-color: #fff7df;
    width: 100%;
    height: 440px;
    position: absolute;
    top: 200px; left: 0;
    margin: 0 -90%;
    padding: 0 90%;
}

.lp-no-6 .lp-boxs:nth-child(1){
	width: 344px; height: 114px;
	margin: 0 auto 130px auto;
    background: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_unsplash.jpg) no-repeat;
    background-size: contain;
	text-align: center;
}
.lp-no-6 .lp-boxs:nth-child(1) img {
    margin-top: 14.5%;
    width: 30%;
}

.lp-no-6 .lp-boxs:nth-child(2){
	width: 540px;
	position:absolute;
	right: 0; top: 290px;
}
.lp-no-6 .lp-boxs:nth-child(2) img{ width: 347px;}

.lp-no-6 .lp-boxs table {
  /*min-width: 70%;
  margin: 26px 0 0 116px;*/
}
.lp-no-6 .lp-boxs:nth-child(3){ width: 218px; position: absolute;
left: 0; top:500px;}

.lp-no-7 {
	 width: 573px;
    margin-top: 130px;
}

.lp-no-7 h2 {
  top: 556px;
  left: 0;
  width: 100%;
  text-align: center;
}

.lp-no-7 .lp-boxs:nth-child(1) {
  width: 573px; min-height: 854px; position: relative;
}
.lp-no-7 table{ position: absolute; bottom: 0;}
.lp-no-7 .lp-boxs:nth-child(1) img{ width: 100%;}

.lp-no-7 .lp-boxs:nth-child(2) {
  width: 368px; top: 484px; position: absolute;
left: 0;
    right: 0;
    margin: auto;
}
.lp-no-7 .lp-boxs:nth-child(2) ul{ display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;}

.lp-no-7 .lp-boxs:nth-child(2) li { width: 49%;}

.lp-no-8 {
margin-top: 130px;
width: 570px;
}

.lp-no-8:before {
    content: "";
    background-color: #fff7df;
    width: 100%;
    height: 282px;
    position: absolute;
    top: 86px;
    margin: 0 -200%;
    padding: 0 200%;
}


.lp-no-8 .lp-boxs table {
}

.lp-no-8 .lp-boxs:nth-child(1) {
  width: 440px;
}
.lp-no-8 .lp-boxs:nth-child(1) img{ width: 315px;}

.lp-no-8 .lp-boxs:nth-child(2) {
  width: 223px;
  position: absolute; right: 0; top: 60px;
}

.wrapper_header_parallax .wrapper-navigation {
    width: 45%;
}

@media screen and (max-width: 999px) {
  .pc-aw {
    display: none;
  }
  .sp-aw {
    display: block;
  }
  .fv {
    min-height: inherit;
  }
  .fv-tit {
    bottom: 5vw;
    right: 6vw; width: auto;
  }
.fv-tit img {
    width: 36vw;
}
  .fv-bg {
    width: 100%;
  }
  .lp-container {
    padding: 12vw 0 50px;
  }
  .lp-contents {
    display: block;
    max-width: inherit;
  }
.lp-contents table {
	min-width: 92vw; position: static;
	}
  .lp-contents table td {
    font-size: 11px;
	padding: 1vw 0 1vw 3vw;
  }
  .lp-contents h2 img {
    width: 52px;
  }
	.lp-no-1{ width: 100%;}
  .lp-no-1 h2 {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    text-align: center;
  }
  .lp-no-1 table {
    min-width: 92vw;
    margin: 15px auto 0 auto;
    text-align: left;
	border-left: 3px solid #852a25;
  }
  .lp-no-1 .lp-boxs:nth-child(1) {
    width: 93vw;
    margin: 0 auto 8vw; 
  }
	.lp-no-1 .lp-boxs:nth-child(1) td{ letter-spacing: 0;}
  .lp-no-1 .lp-boxs:nth-child(2) {
    width: 100%;
    text-align: center; position: static;
  }
	.lp-no-1 .lp-boxs:nth-child(2) img {
		width: 70vw;
	}
  .lp-no-1 .lp-bg {
    top: 90px;
    left: 50%;
    width: 90vw;
    height: 485px;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  .lp-no-2 {
    margin-top: 12vw;
	background-color: #fff7df;
	padding: 12vw 4vw;
  }
  .lp-no-2 h2 {
    top: 168px;
  }
  .lp-no-2 .lp-boxs {
    width: 100%;
    margin-left: 0;
    text-align: center; min-height: auto;
  }
	.lp-no-2::before { display: none;}
	.lp-no-2 .lp-boxs:nth-child(1){ position: static;
	width: 100%;
    min-height: auto; margin-top: 0;}

	.lp-no-2 .lp-boxs:nth-child(1) img{  position: static;}
.lp-no-2 .lp-boxs:nth-child(2) {
    width: 70vw; position: static;
    margin: 8vw auto 0 auto;
	text-align: center;
}
  .lp-no-2 .lp-boxs table {
    min-width: 92vw; position: static;
    margin: 15px auto 0 auto;
	text-align: left;
	border-left: 3px solid #852a25;
  }
  .lp-no-3 {
    margin-top: 53px;
	  width: 100%; min-height: auto;
  }
  .lp-no-3 h2 {
    top: 34px;
  }
.lp-no-3 .lp-boxs table {
	position: static;
    
}
  .lp-no-3 .lp-boxs:nth-child(1) {
    width: 93vw;
    margin: 0 auto;
  }
	.lp-no-3 .lp-boxs:nth-child(1) img{ width: 100%;}
  .lp-no-3 .lp-boxs:nth-child(2) {
    width: 100%;
    padding-top: 8vw;
    text-align: center; position: static;
  }
  .lp-no-4 {
    width: 100%;
    margin-top: 12vw;
	background-color: #fff7df; min-height: auto;
  }
  .lp-no-4 h2 {
    top: 24px;
    right: 20px;
  }
  .lp-no-4 table {
      width: 92vw;
    position: static;
    min-width: 92vw;
    margin: 30px auto 0 auto;
  }
	.lp-no-4:before{ display: none;}
	.lp-no-4 ul{ gap: 0; justify-content: space-between;}
	.lp-no-4 .lp-boxs:nth-child(1) img{ width: 100%;}
	.lp-no-4 .lp-boxs:nth-child(1),


.lp-no-4 .lp-boxs:nth-child(2) {
	width: 100%; position: static;
	margin: 0 auto 0 auto;
    padding-bottom: 7vw;
    width: 93vw;
}
	.lp-no-4 .lp-boxs:nth-child(2) li:nth-child(1){
	width: 47%;
}
	.lp-no-4 .lp-boxs:nth-child(2) li:nth-child(2){ width: 51.6%; margin-top: 0;}
  .lp-no-5 {
    margin-top: 12vw; width: 100%;
  }
  .lp-no-5 h2 {
    top: 49px;
    left: 15vw;
  }
	
	
	.lp-no-5 table{ margin: 30px auto 0 auto;}

  .lp-no-5 table tr {
    display: table-row;
  }
  .lp-no-5 table tr td {
    display: table-cell;
  }
  
  .lp-no-5 .lp-boxs:nth-child(1) {
    width: 100%; margin-top: 0;
  }
  .lp-no-5 .lp-boxs:nth-child(2) {
    width: 70vw;
    margin: 8vw auto 0 auto; position: static;
  }

.lp-no-5 .lp-boxs:nth-child(1) img{ width: 100%; }


  .lp-no-6 {
    margin-top: 12vw;
	background-color: #fff7df;
	width: 100%;
    min-height: auto;
  }
	.lp-no-6::before { display: none;}
  .lp-no-6 h2 {
    top: inherit;
    bottom: -24px;
    left: 10vw;
  }
  .lp-no-6 .lp-boxs {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .lp-no-6 .lp-boxs table {
  }
.lp-no-6 .lp-boxs:nth-child(1) {
    width: 100%;
	height: 34.5vw;
	margin: 0 0 12vw 0;
	background: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/spring2022_unsplash_sp.jpg) no-repeat;
	background-size: contain;
  }
	.lp-no-6 .lp-boxs:nth-child(1) img{
		margin-top: 14.5%; width: 30%;
	}
	.lp-no-6 .lp-boxs:nth-child(2){ position: static; width: 100%;}
	.lp-no-6 .lp-boxs:nth-child(2) img{ width: 100%;}
.lp-no-6 .lp-boxs:nth-child(3) {
	width: 70vw; position: static;
	margin: 8vw auto 0 auto;
	padding-bottom: 12vw;
	}
	.lp-no-7{ width: 100%; margin-top: 12vw;}

  .lp-no-7 .lp-boxs:nth-child(1) {
    width: 100%; min-height: auto;
  }
  .lp-no-7 .lp-boxs:nth-child(2) {
    width: 90vw;
    margin: 12vw 0 0 0; position: static;
  }
	.lp-no-7 .lp-boxs:nth-child(2) ul{
	display: flex; flex-wrap: wrap; justify-content: space-between;
	margin-left: -22%;
    overflow: hidden;
	}
	.lp-no-7 .lp-boxs:nth-child(2) li:nth-child(1) {
		width: 49%; overflow: hidden;
	}
	.lp-no-7 .lp-boxs:nth-child(2) li:nth-child(2) {
		width: 49%;
	}
	
  .lp-no-7 .lp-bg {
    top: 48px;
    right: inherit;
    left: 50%;
    width: 90vw;
    height: 98%;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  .lp-no-8 {
    margin-top: 12vw; width: 100%;
	padding-top: 12vw;
	background-color: #fff7df; min-height: auto;
  }
  .lp-no-8:before {
    display: none;
  }
  .lp-no-8 .lp-boxs table {
   position: static;
  }
  .lp-no-8 .lp-boxs:nth-child(1) {
    width: 93vw;
    margin: 0 auto;
  }
.lp-no-8 .lp-boxs:nth-child(1) img {
    width: 100%;
}
  .lp-no-8 .lp-boxs:nth-child(2) {
    width: 70vw;
    margin: 12vw auto 0;
	padding-bottom: 12vw; position: static;
  }
.wrapper_header_parallax .wrapper-navigation {
    width: 100%;
}
}
</style>
<!-- /2022 SPRING COLLECTION -->