<div id="aw20-page">    
  
  <div class="photoprint-page">
        <section class="photoprint-main">
          <div class="visual-list"> 
            <picture>
              <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_main_visual_sp.jpg">
              <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_main_visual.jpg">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_main_visual.jpg" alt="PHOTO PRINT ITEMS">
            </picture>

            <h2 class="photoprint-title">
              <span class="main-title">PHOTO PRINT</span>
              <span class="sub-title">ITEMS</span>
            </h2>
          </div>
        </section>

        <section class="photoprint-sec1">
          <div class="inner">
            <div class="photoprint-sec1-area">
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_photoprint_img1.jpg?v=1601003262" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <i class="icn">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual_circle.svg" alt="">
                    </i>
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual_img2.jpg?v=1601036271" alt="">
                  </figure>

                </li>
              </ul>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/lv20awspl02" class="item-link" target="_blank">レディースフォトロンT　¥6,000＋tax</a></p>
              </div>
              <ul class="item-list">
                <li>
                  <figure class="thumb">
                   <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual_item3.png?v=1601032009" alt="">
                  </figure>
                  <div class="color">
                    Black
                  </div>
                </li>
                <li>
                  <figure class="thumb">
 <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual_item4.png?v=1601032009" alt="">
                    
                  </figure>
                  <div class="color">
                    Beige
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class="photoprint-sec2">
          <h2 class="photoprint-sec2-title pc-only">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual2_title.svg" alt="">
          </h2>
          <div class="inner">
            <div class="photoprint-sec2-area">
              <div class="visual-list pc-only">
                <article class="visual-item">
                  <figure class="thumb">
                    <picture>
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_photoprint_visual2_img1.jpg?v=1601004433" alt="">
                    </picture>

                  </figure>
                </article>
                <article class="visual-item">
                  <figure class="thumb">

                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_photoprint_visual2_img2.jpg?v=1601004433" alt="">

                  </figure>
                </article>
                <article class="visual-item">
                  <figure class="thumb">

                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_photoprint_visual2_img3.jpg?v=1601004432" alt="">

                  </figure>
                </article>
              </div>
              <div class="visual-sp-main sp-only">
                <article class="visual-item">
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual2_img_sp.png?v=1601038488" alt="">
                  </figure>
                </article>
              </div>
              <h2 class="photoprint-sec2-title sp-only">
                <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual2_title.svg" alt="">
              </h2>
              <div class="detail">
                <p class="text">
                  <a href="https://lavanda.jp/products/lv20awpk03" class="item-link" target="_blank">レディースフォトパーカー　¥7,800＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awac19" class="item-link" target="_blank">オーガンジーシュシュ　¥1,800＋tax</a>
                </p>
              </div>
            </div>

          </div>
        </section>

        <section class="photoprint-sec3">
          <div class="inner">
            <div class="photoprint-sec3-area">
              <ul class="visual-list pc-only">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img1.jpg?v=1601037684" alt="" width="122">
                  </figure>
                  <div class="name">
                    Pink
                  </div>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img2.jpg?v=1601036340" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img3.jpg?v=1601037087" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img4.jpg?v=1601037827" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img5.jpg?v=1601037906" alt="">
                  </figure>
                </li>
                <li>
                  <div class="detail">
                    <p class="text"><a href="https://lavanda.jp/products/lv20awspl01" class="item-link" target="_blank">メンズフォトロンT　¥6,000＋tax</a></p>
                  </div>
                </li>
              </ul>
              <ul class="visual-list sp-only">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img2.jpg?v=1601036340" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img3.jpg?v=1601037087" alt="">
                  </figure>
                </li>
              </ul>
              <div class="bottom-detail pc-only">
                <p class="text"><a href="https://lavanda.jp/products/lv20awpk04" class="item-link" target="_blank">メンズフォトパーカー　¥8,000＋tax</a><br>
                <a href="https://lavanda.jp/products/la20awac14" class="item-link" target="_blank">ベルトベレー帽　¥5,500＋tax</a></p>
              </div>
              <div class="bottom-detail sp-only">
                    <p class="text"><a href="https://lavanda.jp/products/lv20awspl01" class="item-link" target="_blank">メンズフォトロンT　¥6,000＋tax</a></p>
                  </div>
              <div class="visual-item-sp">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img1.png" alt="" width="123">
                </figure>
                <div class="name">Pink</div>
              </div>
              <ul class="visual-list sp-only">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img4.jpg" alt="">
                  </figure>

                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual3_img5.jpg" alt="">
                  </figure>
                </li>
              </ul> 
              <div class="bottom-detail sp-only">
                <p class="text"><a href="https://lavanda.jp/products/lv20awpk04" class="item-link" target="_blank">メンズフォトパーカー　¥8,000＋tax</a><br>
                <a href="https://lavanda.jp/products/la20awac14" class="item-link" target="_blank">ベルトベレー帽　¥5,500＋tax</a></p>
              </div> 

            </div>
          </div>
        </section>

        <section class="photoprint-sec4">
          <div class="inner">
            <div class="photoprint-sec4-area">
              <ul class="visual-list">
                <li>
 
                  <figure class="thumb">
                    <i class="icn">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual4_text.svg" alt="">
                    </i>
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual4_img1.jpg?v=1601038106" alt="">
                  </figure>
                  <div class="detail">
                    <p class="text">
                     <a href="https://lavanda.jp/products/lv20awpk01" class="item-link" target="_blank"> ロゴ刺繍パーカー　¥7,800＋tax</a>
                    </p>
                  </div>

                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual4_img2.jpg?v=1601038195" alt="">
                  </figure>
                </li>
              </ul>

              <ul class="item-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual_item1.png?v=1601038270" alt="">
                  </figure>
                  <div class="color">
                    Black
                  </div>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual_item2.png?v=1601038284" alt="">
                  </figure>
                  <div class="color">
                    Beige
                  </div>
                </li>
              </ul>
              <div class="visual-item sp-only">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_photoprint_visual4_img2_sp.jpg?v=1601041752" alt="">
                </figure>
              </div>
            </div>
          </div>
         
        </section>
      </div>
</div>