<style type="text/css">
body {
   margin: 10px;   /* 外側の余白を40pxにする */
   padding: 0;      /* 内側の余白を消す(念のため) */
}
</style>
  
<h1 style="text-align: center;"><span style="color: #c2a5ba;"><strong><big>LAVANDA</big></strong></span></h1>
<h1 style="text-align: center;"><span style="color: #c2a5ba;"><strong><big>PRESENT CAMPAIGN</big></strong></span></h1>
<div style="text-align: center;"><span size="6" style="font-size: x-large; color: #c2a5ba;"></span></div>



   <p><div style="text-align: center;"><span size="6" style="font-size: large; color: #c2a5ba;">新作HOME COLLECTION</span></div>
<div style="text-align: center;"><span size="6" style="font-size: large; color: #c2a5ba;">のアイテムが当たる！</span></div></p>

<div style="text-align: center;"><span size="6" style="font-size: medium; color: #000000;"><br />HOME COLLECTION発売を記念して、<br>公式Instagramフォロワーの中から各10名様にハンドタオル・ハンドジェルをプレゼント！</span></div>
<div style="text-align: center;"><span style="color: #404040;"><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gift-package-in-hand_480x480.jpg?v=1604988811" alt="" /></span></div>
<div style="text-align: center;"><span style="color: #404040;"></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: left;"><span size="4" style="font-size: medium;"><br />応募期間：11月18日〜11月22日</span></div>
<div style="text-align: left;"><span size="4" style="font-size: medium;"> 当選発表：11月23日</span> <br /><br /></div>
<table width="100%" bgcolor="#C2A5BA" cellpadding="5" border="0">
<tbody>
<tr>
<td align="center" valign="center"><span style="font-size: large;"><strong><span size="5">応募方法はこちら</span></strong></span></td>
</tr>
</tbody>
</table>
<table width="100%" style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td bgcolor="#E6E6E6" style="text-align: center;">
<div style="text-align: left;"><span size="4" style="font-size: medium;">1. LAVANDA公式アカウントをフォロー<br /></span></div>
<div style="text-align: left;"><span size="4" style="font-size: medium;"></span></div>
<br />

 <h3 style="text-align: center;"><span style="font-size: large; color: #000000;"><strong><span size="5"><span style="background-color: #c2a5ba;"><a href="https://www.instagram.com/lavanda.jp/" style="color: #000000;">　フォローはこちら　</a></span></span></strong></span></h3>

  <div style="text-align: left;"><span size="4" style="font-size: large;"><br />2. キャンペーン概要投稿をいいね</span></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0505/9831/4135/files/hand-holding-small-cake_480x480.jpg?v=1604469356" alt="" /><br />投稿画像</div>
</td>
</tr>
</tbody>
</table>
<p><span size="4" style="font-size: medium;"><br />ご注意事項</span><br>
<span size="4" style="font-size: medium;"><br />当選時にフォローを外されている、または退会されている方は当選対象外となります。</span>
<span size="4" style="font-size: medium;"><br />賞品の当選の発表は、当選者アカウントへのダイレクトメッセージによる当選通知をもって代えさせていただきます。</span>
<span size="4" style="font-size: medium;"><br />プレゼントの発送予定日は2021年3月上旬からとなります。</span>
<span size="4" style="font-size: medium;"><br />プレゼント商品の交換・返品は致しかねます。</span></p>
