<div class="fv">
  <div class="fv-left">
    <h1>
      <span class="year">2021</span><br>
      <span class="ttl-large">LAVANDA</span><br>
      <span class="ttl-small">Autumn Look</span>
    </h1>
  </div>
  <div class="fv-right pc-aw">
    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/fv_pc.png?v=1626275786">
  </div>
  <div class="fv-right sp-aw">
    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/fv_sp.png?v=1626334223">
  </div>
</div>
<div class="lp-container">
  <div class="au-contents">
    <div class="au-contents-1">
      <div class="no-1">
        <h2 class="sp-aw">no.<span>1</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no1.png?v=1626275785">
        <div class="discription">
          <h2 class="pc-aw">no.<span>1</span></h2>
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awk1">リボンカフスコンビニット</a>
            </td>
            <td>¥8,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21aws2">ランダムヘムチェックスカート</a>
            </td>
            <td>¥12,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awsh1">ソフトフィットショートブーツ</a>
            </td>
            <td>¥10,900(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
      <div class="no-2">
        <h2 class="sp-aw">no.<span>2</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no2.png?v=1626275786">
        <div class="discription">
          <h2 class="pc-aw">no.<span>2</span></h2>
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awop6">バックシャンリボンニットワンピース</a>
            </td>
            <td>¥13,900(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <div class="au-contents-2">
      <div class="no-3">
        <h2 class="sp-aw">no.<span>3</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no3.png?v=1626275785">
        <div class="discription">
          <h2 class="pc-aw">no.<span>3</span></h2>
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awk4">ベストセットチュニック</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awp1">ハイウエストリボンタックパンツ</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac4">パールイヤカフダブルリングSET</a>
            </td>
            <td>¥2,900(tax in)</td>
          </tr>
        </table>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no3_1.png?v=1626275786" class="no3_img">
      </div>
    </div>
    <div class="au-contents-3">
      <div class="no-4">
        <h2>no.<span>4</span></h2>
        <div class="discription">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no4.png?v=1626275786">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awk2">ショルダータックリブニット</a>
            </td>
            <td>¥6,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21aws2">ランダムヘムチェックスカート</a>
            </td>
            <td>¥12,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac6">フェイクレザーリボンポニーフック</a>
            </td>
            <td>¥1,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac1">サークルチェーンブレスレット</a>
            </td>
            <td>¥2,500(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
      <div class="no-5">
        <div class="table pc-aw">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awop4">衿つき2WAYワンピース</a>
            </td>
            <td>¥13,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awsh1">ソフトフィットショートブーツ</a>
            </td>
            <td>¥10,900(tax in)</td>
          </tr>
        </table>
        </div>
        <div class="discription">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no5.png?v=1626275786">
          <h2>no.<span>5</span></h2>
        </div>
        <div class="table sp-aw">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awop4">衿つき2WAYワンピース</a>
            </td>
            <td>¥13,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awsh1">ソフトフィットショートブーツ</a>
            </td>
            <td>¥10,900(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <div class="au-contents-4">
      <div class="no-6">
        <h2>no.6</h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no6.png?v=1626275786">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awb2">フリルデザインブラウス</a>
            </td>
            <td>¥8,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21aws1">フェイクレザー2WAYスカート</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
        </table>
      </div>
      <div class="no-7">
        <h2>no.<span>7</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no7.png?v=1626275785">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awcs4">モノグラムフロッキーパーカー</a>
            </td>
            <td>¥8,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21aws1">フェイクレザー2WAYスカート</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="au-contents-5">
      <div class="no-8">
        <h2 class="sp-aw">no.<span>8</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no8.png?v=1626275786">
        <div class="discription">
          <h2 class="pc-aw">no.<span>8</span></h2>
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awop3">レオパドットギャザーワンピース</a>
            </td>
            <td>¥15,500(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
      <div class="no-9">
        <h2>no.<span>9</span></h2>
        <table class="pc-aw">
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awcs3">タックスリーブボーダーロンT</a>
            </td>
            <td>¥6,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awp1">ハイウエストリボンタックパンツ</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac12">フェイクレザーリボンゴム</a>
            </td>
            <td>¥2,500(tax in)</td>
          </tr>
        </table>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no9.png?v=1626275786">
        <table class="sp-aw">
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awcs3">タックスリーブボーダーロンT</a>
            </td>
            <td>¥6,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awp1">ハイウエストリボンタックパンツ</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac12">フェイクレザーリボンゴム</a>
            </td>
            <td>¥2,500(tax in)</td>
          </tr>
        </table>
      </div>
      <div class="no-10">
        <h2 class="sp-aw">no.<span>10</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no10.png?v=1626275785">
        <div class="discription">
          <h2 class="pc-aw">no.<span>10</span></h2>
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awpk1">フェイクボアスイッチングブルゾン</a>
            </td>
            <td>¥13,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awop5">リラックスフーディーワンピース</a>
            </td>
            <td>¥11,900(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <div class="bn-img">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no11.png?v=1626275786">
    </div>
    <div class="au-contents-6">
      <div class="no-11">
        <h2>no.<span>11</span></h2>
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no12.png?v=1626275786">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awop5">リラックスフーディーワンピース</a>
            </td>
            <td>¥11,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awsh2">サイドゴアミドルブーツ</a>
            </td>
            <td>¥11,900(tax in)</td>
          </tr>
        </table>
      </div>
      <div class="no-12">
        <h2>no.<span>12</span></h2>
        <div class="discription">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no13.png?v=1626275786">
          <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awcs2">カレッジテイストオーバースウェット</a>
            </td>
            <td>¥7,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21aws1">フェイクレザー2WAYスカート</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac2">3WAYパールチェーンネックレス
              </a>
            </td>
            <td>¥3,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac9">カラーストーンイヤカフ</a>
            </td>
            <td>¥2,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac8">カラーストーンタイニーピアス</a>
            </td>
            <td>¥2,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac7">ランダムストーン3リングSET</a>
            </td>
            <td>¥2,900(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <div class="au-contents-7">
      <div class="no-13">
        <div class="discription">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no14.png?v=1626275786">
          <h2>no.<span>13</span></h2>
        </div>
        <div class="table">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awcs5">スクエアメッセージロンT</a>
            </td>
            <td>¥6,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awp1">ハイウエストリボンタックパンツ</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac10">メッセージダブルリボンゴム</a>
            </td>
            <td>¥1,900(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <div class="au-contents-8">
      <div class="no-14">
        <h2>no.<span>14</span></h2>
        <div class="no14_img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/no14_1.png?v=1626317740">
        </div>
        <div class="table">
        <table>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awjb1">フェイクレザーCPOジャケット</a>
            </td>
            <td>¥11,900(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21aws1">フェイクレザー2WAYスカート</a>
            </td>
            <td>¥11,500(tax in)</td>
          </tr>
          <tr>
            <td>
              <a href="https://lavanda.jp/products/lv21awac1">サークルチェーンブレスレット</a>
            </td>
            <td>¥2,500(tax in)</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .pc-aw {
    display: none;
  }
  .sp-aw {
    display: block;
  }
  h2.sp-aw {
    text-align: center;
  }
  .fv {
    display: flex;
    flex-wrap: wrap;
    background: rgb(246, 241, 244);
    min-height: 400px;
  }
  .fv-left {
    display: none;
    width: 50%;
    align-self: center;
    text-align: center;
  }
  .fv-right {
    width: 100%;
  }
  .lp-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .au-contents > div {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .au-contents h2 {
    font-family: "Avenir Heavy";
    font-size: 30px;
    margin-bottom: 15px;
  }
  .au-contents table,
  .au-contents table td {
    border: none;
    padding: 0;
  }
  .au-contents h2,
  .au-contents td,
  .au-contents td a {
    color: rgb(87,69, 63);
    letter-spacing: 0;
  }
  .au-contents .no-4 h2,
  .au-contents .no-12 h2 {
    transform: rotate( -90deg );
    height: fit-content;
    margin-top: 15px;
    width: fit-content;
  }
  @media screen and (min-width: 1000px) {
    .pc-aw {
      display: block;
    }
    .sp-aw {
      display: none;
    }
    .fv {
      min-height: 600px;
    }
    .au-contents .no-1,
    .au-contents .no-2,
    .au-contents .no-3,
    .au-contents .no-4,
    .au-contents .no-5,
    .au-contents-4,
    .au-contents .no-8,
    .au-contents .no-10,
    .au-contents-5,
    .au-contents .no-12,
    .au-contents .no-13 {
      display: flex;
      flex-wrap: wrap;
    }
    .au-contents .no-1 {
      margin-left: 35px;
    }
    .au-contents .no-1 .discription {
      margin-left: 30px;
    }
    .au-contents .no-1 img, 
    .au-contents .no-2 img {
      width: 400px;
    }
    .au-contents .no-1 .discription,
    .au-contents .no-2 .discription {
      width: 400px;
    }
    .au-contents .no-2 {
      flex-flow: row-reverse;
      margin-top: -250px;
      margin-right: 50px;
    }
    .au-contents .no-2 .discription {
      text-align: end;
      place-self: flex-end;
      margin-right: 30px;
    }
    .au-contents .no-3 {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }
    .au-contents .no-3 img {
      width: 43vw;
    }
    .au-contents .no-3 .discription {
      place-self: flex-end;
      margin-left: 30px;
    }
    .au-contents .no-3 .no3_img {
      width: 43vw;
      position: absolute;
      top: 0;
      right: 0;
    }
    .au-contents .no-4 {
      margin-left: 20px;
    }
    .au-contents .no-4 img {
      width: 372px;
    }
    .au-contents .no-4 table {
      margin-top: 10px;
    }
    .au-contents .no-5 {
      justify-content: flex-end;
      margin-top: -400px;
      margin-right: 35px;
    }
    .au-contents .no-5 .table {
      width: 40%;
      place-self: flex-end;
    }
    .au-contents .no-5 .discription {
      position: relative;
    }
    .au-contents .no-5 img {
      width: 355px;
    }
    .au-contents .no-5 h2 {
      position: absolute;
      top: 25px;
      left: 20px;
      color: #fff;
    }
    .au-contents .no-6,
    .au-contents .no-7 {
      width: 40%;
    }
    .au-contents .no-6 tr td:first-child,
    .au-contents .no-7 tr td:first-child,
    .au-contents .no-11 tr td:first-child {
      text-align: center;
    }
    .au-contents .no-6 {
      margin-left: 70px;
    }
    .au-contents .no-7 {
      margin-left: 30px;
    }
    .au-contents-4 table {
      margin-top: 5px;
    }
    .au-contents-4 h2,
    .au-contents .no-11 h2 {
      text-align: center;
      margin-bottom: 0;
    }
    .au-contents .no-8 {
      margin-left: 50px;
    }
    .au-contents .no-8 .discription {
      margin-left: 30px;
    }
    .au-contents .no-8 img {
      width: 380px;
    }
    .au-contents .no-9 {
      width: 340px;
      margin: -285px 45px 0 auto;
    }
    .au-contents .no-9 h2 {
      text-align: end;
    }
    .au-contents .no-9 table.pc-aw {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
    }
    .au-contents .no-9 table tr td:nth-child(2) {
      padding-left: 10px;
    }
    .au-contents .no-9 img {
      width: 334px;
    }
    .au-contents .no-10 {
      margin-top: -200px;
      margin-left: 205px;
    }
    .au-contents .no-10 .discription {
      place-self: flex-end;
      margin-left: 30px;
    }
    .au-contents .no-10 img {
      width: 345px;
    }
    .bn-img {
      width: 475px;
      margin: 0 auto;
    }
    .au-contents-6 table {
      margin-top: 10px;
    }
    .au-contents .no-11 {
      width: 344px;
      margin-left: 90px;
    }
    .au-contents .no-12 {
      justify-content: flex-end;
      margin-top: -270px;
    }
    .au-contents .no-12 img {
      width: 390px;
    }
    .au-contents .no-12 table tr td:nth-child(2) {
      text-align: end;
    }
    .au-contents .no-12 table tr td:first-child {
      padding-left: 40px;
    }
    .au-contents .no-13 .discription {
      position: relative;
    }
    .au-contents .no-13 .discription h2 {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      color: #fff;
    }
    .au-contents .no-13 {
      margin-left: 80px;
    }
    .au-contents .no-13 img {
      width: 344px;
    }
    .au-contents .no-13 .table {
      width: 39%;
      place-self: center;
      margin-left: 60px;
    }
    .au-contents .no-13 .table tr td:first-child {
      text-align: center;
    }
    .au-contents .no-14 h2 {
      text-align: center;
    }
    .au-contents .no-14 .table {
      width: 40%;
      margin: 50px auto 0;
    }
    .au-contents .no-14 .no14_img {
      width: 432px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 999px) {
    .au-contents img {
      width: 100%;
    }
    .no-1 .discription,
    .no-2 .discription,
    .no-3 .discription table,
    .no-4 .discription table,
    .no-5 .table table,
    .au-contents-4 table,
    .au-contents-5 table,
    .au-contents-6 table,
    .no-13 table,
    .no-14 table {
      margin: 20px 0;
    }
    .au-contents table, .au-contents table td {
      font-size: 12px;
    }
    .au-contents table tr td:first-child {
      text-align: center;
    }
    .au-contents-1 .no-1 {
      padding: 0 10%;
      margin-bottom: 80px;
    }
    .no-3 .no3_img {
      display: none;
    }
    .no-4 .discription {
      margin-top: -65px;
    }
    .no-4 .discription img {
      padding: 0 14%;
    }
    .au-contents-3 .no-4 {
      margin-bottom: 80px;
    }
    .au-contents-3 .no-5 {
      position: relative;
      padding: 0 14%;
    }
    .au-contents-3 .no-5 .discription h2 {
      position: absolute;
      top: 7vw;
      left: 20vw;
      color: #fff;
    }
    .au-contents-4 {
      display: flex;
    }
    .au-contents-4 h2 {
      text-align: center;
    }
    .au-contents-4 tbody {
      text-align: center;
      display: block;
    }
    .au-contents-4 tbody tr {
      display: grid;
    }
    .no-8 {
      padding: 0 7%;
      margin-bottom: 100px;
    }
    .no-9,
    .no-10 {
      padding: 0 14%;
    }
    .no-9 h2,
    .no-10 h2 {
      text-align: center;
    }
    .no-9 {
      margin-bottom: 80px;
    }
    .no-9 table {
      display: inline-table;
    }
    .no-9 table.pc-aw {
      display: none;
    }
    .au-contents .bn-img {
      padding: 0 7%;
    }
    .no-11,
    .no-13 {
      padding: 0 14%;
      margin-bottom: 80px;
    }
    .no-11 h2 {
      text-align: center;
    }
    .au-contents .no-12 h2 {
      transform: rotate(0);
      padding-left: 15vw;
    }
    .no-12 .discription img {
      margin-left: 18vw;
      overflow:hidden;
       position:relative;
    }
    .no-12 .discription{
      position:;
    }
    .no-13 .discription {
      position: relative;
    }
    .no-13 .discription h2 {
      position: absolute;
      bottom: 5vw;
      color: #fff;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .no-14 {
      text-align: center;
    }
  }
</style>