<div class="collection-list-page">
  <div class="container">
    {% include 'breadcrumb' %}
    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>  
    </header>
  </div>
    <div class="wrapper-content">
      {% section 'home-custom-block-baner-collection-list' %}
      {% section 'home-custom-product-collection-list' %}
    </div>
</div>