<div id="aw20-page">    
<div class="color-page">
        <section class="color-main">
          <div class="visual-main">
            <picture>
              <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_main_visual_sp.jpg">
              <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_main.jpg?v=1601009613">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_main_visual.jpg" alt="A / W COLOR PALLETE">
            </picture>

            <h2 class="title">
              <span class="sub-title">A / W</span>
              <span class="main-title">COLOR PALETTE</span>

            </h2>
          </div>
          <div class="visual-read">
            LAVANDAで作る秋冬トレンド配色見本
          </div>
        </section>

        <section class="color-sec1">
          <div class="inner">
            <div class="color-sec-area">

              <div class="visual-main">
                <h2 class="visual-title">
                  <span>
                    <i>B</i>
                    <i>e</i>
                    <i>i</i>
                    <i>g</i>
                    <i>e</i>
                  </span>
                  <span class="cross">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross.svg" alt="">
                  </span>
                  <span>
                    <i>P</i>
                    <i>i</i>
                    <i>n</i>
                    <i>k</i>
                  </span>
                </h2>
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_visual1_img.jpg?v=1601040539" alt="">
                </figure>
              </div>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/lv20awct01" class="item-link" target="_blank">ボアガウンコート　¥18,000＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awop06" class="item-link" target="_blank">サテンキャミワンピース　¥10,800＋tax</a><br>
                <a href="https://lavanda.jp/products/lv20awac20" class="item-link" target="_blank">ベロアリボンゴム　¥1,800＋tax</a></p>
              </div>
            </div>
          </div>
        </section>

        <section class="color-sec2">
          <div class="inner">
            <div class="color-sec-area">
              <div class="sp-only">
                <h2 class="visual-title">
                  <span>
                    <i>b</i>
                    <i>l</i>
                    <i>a</i>
                    <i>c</i>
                    <i>k</i>
                  </span>
                  <span class="cross">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross_w.svg" alt="">
                  </span>
                  <span>
                    <i>b</i>
                    <i>e</i>
                    <i>g</i>
                    <i>i</i>
                    <i>e</i>
                  </span>
                </h2>
              </div>
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_visual2_img1.jpg?v=1601040569" alt="" width="295">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_visual2_img2.jpg?v=1601040599" alt="" width="310">
                  </figure>
                </li>
                <li>
                  <div class="visual-detail-inner">
                    <h2 class="visual-title">
                      <span>
                        <i>b</i>
                        <i>l</i>
                        <i>a</i>
                        <i>c</i>
                        <i>k</i>
                      </span>
                      <span class="cross">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross.svg" alt="">
                      </span>
                      <span>
                        <i>b</i>
                        <i>e</i>
                        <i>g</i>
                        <i>i</i>
                        <i>e</i>
                      </span>
                    </h2>
                    <div class="detail">
                      <p class="text">
                        <a href="https://lavanda.jp/products/lv20awkt03" class="item-link" target="_blank">ジップフードニット　¥8,500＋tax</a><br>
                        <a href="https://lavanda.jp/products/lv20awsk03" class="item-link" target="_blank">チュールレイヤードスカート　¥10,800＋tax</a><br>
<a href="https://lavanda.jp/products/la20awac16" class="item-link" target="_blank">ウール調バケットハット　¥5,500＋tax</a></p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="sp-only">
                <div class="detail">
 <p class="text">
                        <a href="https://lavanda.jp/products/lv20awkt03" class="item-link" target="_blank">ジップフードニット　¥8,500＋tax</a><br>
                        <a href="https://lavanda.jp/products/lv20awsk03" class="item-link" target="_blank">チュールレイヤードスカート　¥10,800＋tax</a><br>
<a href="https://lavanda.jp/products/la20awac16" class="item-link" target="_blank">ウール調バケットハット　¥5,500＋tax</a></p>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section class="color-sec3">
          <div class="inner">
            <div class="color-sec-area">
              <ul class="visual-list">
                <li>
                  <h2 class="visual-title">
                    <span>
                      <i>P</i>
                      <i>i</i>
                      <i>n</i>
                      <i>k</i>
                    </span>
                    <span class="cross">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross.svg" alt="">
                    </span>
                    <span>
                      <i>G</i>
                      <i>r</i>
                      <i>a</i>
                      <i>y</i>
                    </span>
                  </h2>
                  <figure class="thumb">
                    <picture>
                      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual3_img1_sp.png?v=1600941698">
                      <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual3_img1.jpg?v=1600941693">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual3_img1.jpg?v=1600941693" alt="" width="177">
                    </picture>
                  </figure>
                  <div class="detail">
                    <p class="text">
                       <a href="https://lavanda.jp/products/lv20awct02" class="item-link" target="_blank">ロングダッフルコート　¥22,000＋tax</a><br>
                      <a href="https://lavanda.jp/products/lv20awkt06" class="item-link" target="_blank">ベルト付きニットOP　¥14,000＋tax</a><br>
                    <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
                    <a href="https://lavanda.jp/products/lv20awac19" class="item-link" target="_blank">オーガンジーシュシュ　¥1,800＋tax</a><br>
                      <a href="https://lavanda.jp/products/la20awac02" class="item-link" target="_blank">ランダムフープピアス/イヤリング　¥2,500＋tax</a>
                    </p>
                  </div>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_visual3_img.jpg?v=1601008809" alt="" width="373">
                  </figure>
                </li>
              </ul>
              <div class="sp-only">
                <div class="detail">
                  <p class="text">
                       <a href="https://lavanda.jp/products/lv20awct02" class="item-link" target="_blank">ロングダッフルコート　¥22,000＋tax</a><br>
                      <a href="https://lavanda.jp/products/lv20awkt06" class="item-link" target="_blank">ベルト付きニットOP　¥14,000＋tax</a><br>
                    <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
                    <a href="https://lavanda.jp/products/lv20awac19" class="item-link" target="_blank">オーガンジーシュシュ　¥1,800＋tax</a><br>
                      <a href="https://lavanda.jp/products/la20awac02" class="item-link" target="_blank">ランダムフープピアス/イヤリング　¥2,500＋tax</a>
                    </p>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section class="color-sec4">
          <div class="inner">
            <div class="color-sec-area">
              <ul class="visual-list">
                <li>
                  <h2 class="visual-title">
                    <span>
                      <i>W</i>
                      <i>h</i>
                      <i>i</i>
                      <i>t</i>
                      <i>e</i>
                    </span>
                    <span class="cross">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross.svg" alt="">
                    </span>
                    <span>
                      <i>B</i>
                      <i>l</i>
                      <i>a</i>
                      <i>c</i>
                      <i>k</i>
                    </span>
                  </h2>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual4_img1.jpg?v=1601041162" alt="" width="347">
                  </figure>

                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual4_img2.jpg?v=1601040686" alt="" width="178">
                  </figure>
                </li>
              </ul>
              <div class="detail">
                <p class="text">
                  <a href="https://lavanda.jp/products/lv20awkt07" class="item-link" target="_blank">Vネックレースニット　¥9,800＋tax</a><br>
                  <a href="https://lavanda.jp/products/la20awac01" class="item-link" target="_blank">アーチピアス/イヤリング　¥2,500＋tax</a></p>
              </div>

            </div>
          </div>
        </section>

        <section class="color-sec5">
          <div class="inner">
            <div class="color-sec-area">
              <div class="pc-only">
                <ul class="visual-list">
                  <li>

                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual5_img1.jpg" alt="" width="390">
                    </figure>

                  </li>
                  <li>
                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual5_img2.jpg" alt="" width="332">
                    </figure>
                  </li>
                  <li>
                    <div class="visual-detail-inner">
                      <h2 class="visual-title">
                        <span>
                          <i>G</i>
                          <i>r</i>
                          <i>a</i>
                          <i>y</i>
                        </span>
                        <span class="cross">
                          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross.svg" alt="">
                        </span>
                        <span>
                          <i>C</i>
                          <i>a</i>
                          <i>m</i>
                          <i>e</i>
                          <i>l</i>
                        </span>
                      </h2>
                      <div class="detail">
                        <p class="text">
                          <a href="https://lavanda.jp/products/lv20awop04" class="item-link" target="_blank">サイドプリーツワンピース　¥13,000＋tax</a><br>
                          <a href="https://lavanda.jp/products/lv20awkt07" class="item-link" target="_blank">Vネックレースニット　¥9,800＋tax</a><br>
                        <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
                        <a href="https://lavanda.jp/products/lv20awac21" class="item-link" target="_blank">ベロアワイドカチューシャ　¥1,500＋tax</a><br></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="sp-only">
                <h2 class="visual-title">
                  <span>
                    <i>G</i>
                    <i>r</i>
                    <i>a</i>
                    <i>y</i>
                  </span>
                  <span class="cross">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_color_visual2__title_cross.svg" alt="">
                  </span>
                  <span>
                    <i>C</i>
                    <i>a</i>
                    <i>m</i>
                    <i>e</i>
                    <i>l</i>
                  </span>
                </h2>
                <ul class="visual-list">
                  <li>
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_visual4_img1.jpg?v=1601008809" alt="">
                  </li>
                  <li>
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_color_visual4_img2.jpg?v=1601008809" alt="">
                  </li>
                </ul>
                <div class="detail">
                   <p class="text">
                          <a href="https://lavanda.jp/products/lv20awop04" class="item-link" target="_blank">サイドプリーツワンピース　¥13,000＋tax</a><br>
                          <a href="https://lavanda.jp/products/lv20awkt07" class="item-link" target="_blank">Vネックレースニット　¥9,800＋tax</a><br>
                        <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
                        <a href="https://lavanda.jp/products/lv20awac21" class="item-link" target="_blank">ベロアワイドカチューシャ　¥1,500＋tax</a></p>
                </div>
              </div>

            </div>
          </div>
        </section>
<br><br><div style="text-align: center;">身長158cm　着用SIZE：ボトムス/S 　シューズ/M</div>
      </div>
</div>