<div class="page-tpl present_campeign">
  <div class="present-campeign_main_lp">

    <section class="present-campeign_main_img">
      <img class="top_img"
        src="//cdn.shopify.com/s/files/1/0322/8116/5869/files/LAVANDAROOMFIX1_611885ea-2797-4007-a52f-c6167f91eeaa.png?v=1605870707">
    </section>

    <section class="present-campeign_event">
      <h1 class="title event_title main_discription">
        新作<span class="eg_font">HOME COLLECTION</span>の<span>アイテム</span>が当たる!
      </h1>
      <p class="event_text sub_discription">
        <span class="eg_font">HOME COLLECTION</span>発売を記念して、<br>
        <span class="eg_font">LAVANDA</span>インスタグラムフォロワーの中から<span class="eg_font">10</span>名様に<br>
        ハンドタオル•ハンドジェル<span class="eg_font">SET</span>をプレゼントいたします。
      </p>
    </section>

    <section class="present-campeign_date">
      <div class="date_img">
        <img class="rose_img"
          src="//cdn.shopify.com/s/files/1/0322/8116/5869/files/LAVANDAROSE-wb.png?v=1605759262">
      </div>

      <div class="present-campeign_date_content main_discription">
        <h2 class="title date_title">
          応募期間
        </h2>
        <p class="date_text">
          <span class="eg_font">11</span>月<span class="eg_font">22</span>日(日)〜<span class="eg_font">11</span>月<span
            class="eg_font">26</span>日(木)
        </p>

        <h2 class="title date_title">
          当選発表
        </h2>
        <p class="date_text">
          <span class="eg_font">11</span>月<span class="eg_font">27</span>日(金)
        </p>
      </div>

    </section>

    <section class="present-campeign_detail">
      <h2 class="title detail_title main_discription">
        【応募方法】
      </h2>
      <h2 class="title detail_sub_title main_discription">
        <span class="eg_font">1.LAVANDA</span>インスタグラムアカウントをフォロー<br>
        <span class="eg_font">2.</span>キャンペーン概要投稿にいいね!<br>
      </h2>
      <p class="detail_sub_title_text sub_discription">
        この<span class="eg_font">2</span>つで応募完了です。
      </p>

      <p class="alert_title sub_discription">
        注意事項
      </p>

      <p class="alert_pc alert_text sub_discription">
        •当選時にフォローを外されている、または退会されている方は当選対象外となります。<br>
        •賞品の当選の発表は、当選者アカウントへのダイレクトメッセージに<br>
        よる当選通知をもって代えさせていただきます。<br>
        •プレゼントの発送予定日は<span class="eg_font">2021</span>年<span class="eg_font">3</span>月上旬からとなります。<br>
        •プレゼント商品の交換•返品は致しかねます。
      </p>

      <p class="alert_sp alert_text sub_discription">
        •当選時にフォローを外されている、または退会されている方は<br>
        当選対象外となります。<br>
        •賞品の当選の発表は、当選者アカウントへのダイレクトメッセージに<br>
        よる当選通知をもって代えさせていただきます。<br>
        •プレゼントの発送予定日は<span class="eg_font">2021</span>年<span class="eg_font">3</span>月上旬からとなります。<br>
        •プレゼント商品の交換•返品は致しかねます。
      </p>
    </section>

  </div>
</div>