<!-- 2021 Winter Look￼ -->

<div class="fv">
	<div class="fv-tit">
		<h1>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_tit.png?v=1632460598" alt="2021 WINTER COLLECTION" />
		</h1>
	</div>
	<!-- ￼fv-tit -->
	<div class="fv-bg pc-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/imgl-2021-winter-collection_pc.jpg?v=1632460599" alt="" />
	</div>
	<!-- ￼fv-bg -->
	<div class="fv-bg sp-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/imgl-2021-winter-collection_sp.jpg?v=1632460599" alt="" />
	</div>
	<!-- ￼fv-bg -->
</div>
<!-- ￼fv -->

<div class="lp-container">

	<!-- LOOP -->
	<div class="lp-contents lp-no-1">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_01.png?v=1632460599" alt="NO1" />
			</h2>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_01-02.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_01-01.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awct2">ナイロンツイルワッペン付きルーズMA-1</a>
					</td>
					<td>¥14,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21aws3">ジーンズライクチュールスカート</a>
					</td>
					<td>¥11,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awac41">レース付け襟</a>
					</td>
					<td>¥2,900(tax in) </td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-bg"></div>
		<!-- lp-bg -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-2">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_02.png?v=1632460598" alt="NO2" />
			</h2>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_02-01.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awk6">セーラーカラーニット</a>
					</td>
					<td>¥8,500(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-3">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_03.png?v=1632460598" alt="NO3" />
			</h2>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_03-01.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_03-02.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awcs13">ボリュームパーカー</a>
					</td>
					<td>¥8,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21aws3">ジーンズライクチュールスカート</a>
					</td>
					<td>¥11,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-4">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_04.png?v=1632460598" alt="NO4" />
			</h2>
			<ul class="">
				<li>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_04-01.jpg?v=1632460598" alt="" />
				</li>
				<li>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_04-02.jpg?v=1632460599" alt="" />
				</li>
				<li>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_04-03_5f767e79-c507-466d-894d-4581517d4bed.jpg?v=1632466157" alt="" />
				</li>
				<li>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_04-04.jpg?v=1632460598" alt="" />
				</li>
			</ul>

			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awop7">チェックジャンパースカート</a>
					</td>
					<td>¥13,500(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-abg">
		<div class="lp-contents lp-no-5">
			<div class="lp-boxs">
				<h2>
					<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_05.png?v=1632460598" alt="NO5" />
				</h2>
				<ul>
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_05-01.jpg?v=1632460598" alt="" />
					</li>
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_05-02.jpg?v=1632460599" alt="" />
					</li>
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_05-03.jpg?v=1632460598" alt="" />
					</li>
				</ul>
			</div>
			<!-- lp-box -->
			<div class="lp-boxs">
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_05-04.jpg?v=1632460598" alt="" />
				<table>
					<tr>
						<td>
							<a href="https://lavanda.jp/products/lv21awac43">バイカラーロゴキャップ</a>
						</td>
						<td>¥5,500(tax in)</td>
					</tr>
					<tr>
						<td>
							<a href="https://lavanda.jp/products/lv21awcs11">バイカラーロゴフラワーロンT</a>
						</td>
						<td>¥6,500(tax in)</td>
					</tr>
				</table>
			</div>
			<!-- lp-box -->
		</div>
	</div>
	<!-- lp-abg -->
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-6">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_06.png?v=1632460598" alt="NO6" />
			</h2>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_06-01.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awk5">ケーブルスリーブニット</a>
					</td>
					<td>¥9,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awac41">レース付け襟</a>
					</td>
					<td>¥2,900(tax in) </td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-7">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_07.png?v=1632460599" alt="NO7" />
			</h2>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_07-01.jpg?v=1632460599" alt="" />
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_07-02.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awac44">ボアバケットハット</a>
					</td>
					<td>¥5,900(tax in) </td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awcs12">バイカラーネオン<br class="sp-aw" />プリントスウェット</a>
					</td>
					<td>¥8,500(tax in) </td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-bg"></div>
		<!-- lp-bg -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-8">
		<div class="lp-boxs">
			<h2>
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2021-winter-collection_08.png?v=1632460598" alt="NO8" />
			</h2>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_08-01.jpg?v=1632460599" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awct1">スリーブディテールコート</a>
					</td>
					<td>¥22,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv21awac37">ダブルチュールリボンバレッタ</a>
					</td>
					<td>¥2,500(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2021-winter-collection_08-02.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->

</div>
<!-- lp-container -->

<style>
.pc-aw {
  display: block;
}

.sp-aw {
  display: none;
}

.fv {
  position: relative;
  z-index: 1;
  min-height: 600px;
  text-align: center;
}

.fv-tit {
  position: absolute;
  z-index: 2;
  top: 56px;
  left: 0;
  width: 100%;
}

.fv-tit img {
  width: 305px;
}

.fv-bg {
  width: 100%;
}

.lp-container {
  padding: 100px 0 106px;
}

.lp-contents {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.lp-contents table {
  padding: 0;
  border: none;
}

.lp-contents table td {
  padding: 0;
  letter-spacing: 0;
  color: #57453f;
  border: none;
}

.lp-contents table td a {
  letter-spacing: 0;
  color: #57453f;
}

.lp-contents h2 {
  position: absolute;
  z-index: 3;
}

.lp-contents h2 img {
  width: 68px;
}

.lp-boxs {
  position: relative;
  z-index: 2;
}

.lp-bg {
  position: absolute;
  z-index: 1;
  background-color: #f2eeeb;
}

.lp-abg {
  background-color: #f2eeeb;
}

.lp-no-1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.lp-no-1 h2 {
  top: 47px;
  left: -115px;
}

.lp-no-1 table {
  margin: 35px 0 11px;
}

.lp-no-1 .lp-boxs:nth-child(1) {
  width: 352px;
  margin: 0 93px 0 39px;
}

.lp-no-1 .lp-boxs:nth-child(2) {
  width: 419px;
  text-align: end;
  place-self: flex-end;
}

.lp-no-1 .lp-bg {
  top: 200px;
  left: 153px;
  width: 547px;
  height: 357px;
}

.lp-no-2 {
  margin-top: 136px;
}

.lp-no-2 h2 {
  top: 218px;
  width: 100%;
  text-align: center;
}

.lp-no-2 .lp-boxs {
  width: 500px;
  margin-left: 40px;
}

.lp-no-2 .lp-boxs table {
  min-width: 50%;
  margin: 20px auto 0;
}

.lp-no-3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  margin-top: 30px;
}

.lp-no-3 h2 {
  top: 47px;
  width: 100%;
  text-align: center;
}

.lp-no-3 table {
  position: absolute;
  right: -397px;
  bottom: 21px;
}

.lp-no-3 .lp-boxs:nth-child(1) {
  width: 382px;
  margin: 0 0 0 22px;
}

.lp-no-3 .lp-boxs:nth-child(2) {
  width: 339px;
  padding-top: 68px;
  place-self: flex-end;
}

.lp-no-4 {
  width: 450px;
  margin-top: 163px;
}

.lp-no-4 h2 {
  top: 24px;
  right: 20px;
}

.lp-no-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.lp-no-4 ul li {
  width: calc((100% - 5px ) / 2);
  margin-bottom: 0;
}

.lp-no-4 table {
  min-width: 70%;
  margin: 24px auto 0;
}

.lp-no-5 {
  margin-top: 120px;
  padding: 37px 0;
}

.lp-no-5 h2 {
  top: 81px;
  left: 122px;
}

.lp-no-5 table {
  position: absolute;
  bottom: 54px;
  left: -273px;
  display: block;
}

.lp-no-5 table tr {
  display: block;
}

.lp-no-5 table tr td {
  display: block;
}

.lp-no-5 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lp-no-5 ul li {
  margin-bottom: 0;
}

.lp-no-5 ul li img {
  height: 241px;
}

.lp-no-5 ul li:nth-child(1) {
  margin-right: 27px;
}

.lp-no-5 ul li:nth-child(3) {
  position: relative;
  top: -35px;
  left: 38px;
}

.lp-no-5 ul li:nth-child(3) img {
  height: 233px;
}

.lp-no-5 .lp-boxs:nth-child(1) {
  width: 448px;
  margin-left: 60px;
  padding-top: 48px;
}

.lp-no-5 .lp-boxs:nth-child(2) {
  width: 366px;
  margin-left: 50px;
}

.lp-no-6 {
  margin-top: 136px;
}

.lp-no-6 h2 {
  top: 565px;
  left: 20px;
}

.lp-no-6 .lp-boxs {
  width: 401px;
  margin-left: 69px;
}

.lp-no-6 .lp-boxs table {
  min-width: 70%;
  margin: 26px 0 0 116px;
}

.lp-no-7 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.lp-no-7 h2 {
  top: 556px;
  left: 0;
  width: 100%;
  text-align: center;
}

.lp-no-7 table {
  position: absolute;
  top: 234px;
  right: -411px;
  width: 330px;
}

.lp-no-7 .lp-boxs:nth-child(1) {
  width: 368px;
  margin: -101px 42px 0 55px;
}

.lp-no-7 .lp-boxs:nth-child(2) {
  width: 240px;
  margin-top: 298px;
  place-self: flex-end;
}

.lp-no-7 .lp-bg {
  top: 177px;
  right: calc((((100vw - 1000px) / 2) - 8px) * -1);
  width: calc(760px + ((100vw - 1000px) / 2) - 8px);
  height: 444px;
}

.lp-no-8 {
  margin-top: 123px;
}

.lp-no-8 h2 {
  top: 222px;
  right: -110px;
}

.lp-no-8 .lp-boxs table {
  margin-top: 39px;
}

.lp-no-8 .lp-boxs:nth-child(1) {
  width: 376px;
  margin: 0 40px 0 152px;
  text-align: end;
}

.lp-no-8 .lp-boxs:nth-child(2) {
  width: 241px;
  margin-top: 356px;
}

@media screen and (max-width: 999px) {
  .pc-aw {
    display: none;
  }
  .sp-aw {
    display: block;
  }
  .fv {
    min-height: inherit;
  }
  .fv-tit {
    top: 24px;
  }
  .fv-tit img {
    width: 213px;
  }
  .fv-bg {
    width: 100%;
  }
  .lp-container {
    padding: 92px 0 50px;
  }
  .lp-contents {
    display: block;
    max-width: inherit;
  }
  .lp-contents table td {
    font-size: 11px;
  }
  .lp-contents h2 img {
    width: 52px;
  }
  .lp-no-1 h2 {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    text-align: center;
  }
  .lp-no-1 table {
    min-width: 80%;
    margin: 15px auto 11px;
    text-align: left;
  }
  .lp-no-1 .lp-boxs:nth-child(1) {
    width: 72vw;
    margin: 0 auto 35px;
  }
  .lp-no-1 .lp-boxs:nth-child(2) {
    width: 100%;
    text-align: center;
  }
  .lp-no-1 .lp-bg {
    top: 90px;
    left: 50%;
    width: 90vw;
    height: 485px;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  .lp-no-2 {
    margin-top: 66px;
  }
  .lp-no-2 h2 {
    top: 168px;
  }
  .lp-no-2 .lp-boxs {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .lp-no-2 .lp-boxs table {
    min-width: 60%;
    margin: 13px auto 0;
  }
  .lp-no-3 {
    margin-top: 53px;
  }
  .lp-no-3 h2 {
    top: 34px;
  }
  .lp-no-3 table {
    position: relative;
    right: inherit;
    bottom: inherit;
    min-width: 70%;
    margin: 10px auto 0;
    text-align: left;
  }
  .lp-no-3 .lp-boxs:nth-child(1) {
    width: 87vw;
    margin: 0 auto;
  }
  .lp-no-3 .lp-boxs:nth-child(2) {
    width: 100%;
    padding-top: 25px;
    text-align: center;
  }
  .lp-no-4 {
    width: 86.9vw;
    margin-top: 71px;
  }
  .lp-no-4 h2 {
    top: 24px;
    right: 20px;
  }
  .lp-no-4 table {
    min-width: 70%;
    margin: -5px auto 0;
  }
  .lp-no-5 {
    margin-top: 43px;
    padding: 40px 0 25px;
  }
  .lp-no-5 h2 {
    top: 49px;
    left: 15vw;
  }
  .lp-no-5 table {
    position: relative;
    bottom: inherit;
    left: inherit;
    display: table;
    min-width: 80%;
    margin: 15px auto 0;
  }
  .lp-no-5 table tr {
    display: table-row;
  }
  .lp-no-5 table tr td {
    display: table-cell;
  }
  .lp-no-5 ul {
    position: relative;
    left: 7.3vw;
  }
  .lp-no-5 ul li img {
    height: auto;
  }
  .lp-no-5 ul li:nth-child(1) {
    margin: 0 9.3vw 0 0;
  }
  .lp-no-5 ul li:nth-child(1) img {
    width: 14.1vw;
  }
  .lp-no-5 ul li:nth-child(2) img {
    width: 69.3vw;
  }
  .lp-no-5 ul li:nth-child(3) {
    top: -35px;
    left: -7.3vw;
  }
  .lp-no-5 ul li:nth-child(3) img {
    width: 35.6vw;
    height: auto;
  }
  .lp-no-5 .lp-boxs:nth-child(1) {
    width: 92.8vw;
    margin-left: 0;
    padding-top: 0;
  }
  .lp-no-5 .lp-boxs:nth-child(2) {
    z-index: 1;
    width: 83.8vw;
    margin-top: -155px;
    margin-left: 16.2vw;
  }
  .lp-no-6 {
    margin-top: 83px;
  }
  .lp-no-6 h2 {
    top: inherit;
    bottom: -24px;
    left: 10vw;
  }
  .lp-no-6 .lp-boxs {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .lp-no-6 .lp-boxs table {
    position: relative;
    left: 10vw;
    min-width: 60%;
    margin: 15px auto 0;
    text-align: left;
  }
  .lp-no-7 h2 {
    top: 78px;
    right: -23vw;
    left: inherit;
    width: auto;
    text-align: left;
  }
  .lp-no-7 table {
    position: absolute;
    top: 160px;
    right: 32vw;
    display: block;
    width: auto;
    text-align: end;
  }
  .lp-no-7 table tr {
    display: block;
  }
  .lp-no-7 table tr td {
    display: block;
  }
  .lp-no-7 .lp-boxs:nth-child(1) {
    width: 64.2vw;
    margin: 87px 0 0 0;
  }
  .lp-no-7 .lp-boxs:nth-child(2) {
    width: 48.1vw;
    margin: 17px 0 0 42.4vw;
  }
  .lp-no-7 .lp-bg {
    top: 48px;
    right: inherit;
    left: 50%;
    width: 90vw;
    height: 98%;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
  }
  .lp-no-8 {
    margin-top: 100px;
  }
  .lp-no-8 h2 {
    position: relative;
    top: inherit;
    right: inherit;
    margin: 0 0 5px;
    text-align: center;
  }
  .lp-no-8 .lp-boxs table {
    min-width: 90%;
    margin: 15px auto 0;
  }
  .lp-no-8 .lp-boxs:nth-child(1) {
    width: 75vw;
    margin: 0 auto;
    text-align: left;
  }
  .lp-no-8 .lp-boxs:nth-child(2) {
    width: 48vw;
    margin: 25px auto 0;
  }
}
</style>