<div class="page-tpl">
<!--   <div class="container"> -->
  {% comment %}
    {% include 'breadcrumb' %}
  {% endcomment %}
    <header class="page-header">
 
    </header>
    
    
  <fv class="fv">
    <div class="fv__wrapper">
      <div class="fv__inner">

      </div>
    </div>
  </fv>

  <section class="hoodie">
    <div class="hoodie__wrapper">
      <div class="hoodie__inner">
        <div class="hoodie__head">
          <div class="hoodie__head-info">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/01.png?v=1608993943" alt=""  class="hoodie__number">
          
            <p class="hoodie__name">flower photo hoodie</p>
            
            <hr class="hoodie__hr">
            <a href="https://lavanda.jp/products/lv20awnpk011">
            <p class="hoodie__txt is-sp-wide-hidden">フラワーフォトパーカー</p>
                </a>
            <p class="hoodie__price is-sp-wide-hidden" >￥7,800 +tax</p>
          </div>
          <div class="hoodie__head-img-wrap">
                 <a href="https://lavanda.jp/products/lv20awnpk01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/hoodie-pink.png?v=1608960420" alt="" class="hoodie__head-img">
             </a>
             <a href="https://lavanda.jp/products/lv20awnpk01">
            <p class="hoodie__txt is-sp-wide">フラワーフォトパーカー</p>
              </a>
            <p class="hoodie__price is-sp-wide">¥7,800 +tax</p>
          </div>
          
        </div>
        <div class="hoodie__box">
          <div class="hoodie__box-info">
            <p class="hoodie__box-lead is-sp-wide-hidden">winter style</p>
            <div class="hoodie__box-img-wrap">
              <a href="https://lavanda.jp/collections/switch01">
               <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/hoodie01.jpg?v=1609226329" alt=""  class="hoodie__box-img">
              </a>
            </div>
            <p class="hoodie__box-txt">
              <a href="https://lavanda.jp/products/lv20awct02">ロングダッフルコート ￥22,000 +tax<br></a>
              <a href="https://lavanda.jp/products/lv20awnpk01">フラワーフォトパーカー ￥7,800 +tax<br></a>
            </p>
          </div>
          <div class="hoodie__box-right">
            <p class="hoodie__box-lead is-sp-wide">winter style</p>
             <a href="https://lavanda.jp/collections/switch01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/hoodie02.jpg?v=1609224902" alt="">
            </a>
          </div>
        </div>

        <div class="hoodie__arrow-wrap">
           <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/arrow-left.png?v=1609227254" alt="" class="is-sp-wide-hidden">
           <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/switch-sp.png?v=1608993944" alt=""  class="is-sp-wide">
        </div>

        <div class="hoodie__box-sec">
          <h3 class="hoodie__box-sec-lead is-sp-wide">spring style</h3>
          <div class="hoodie__box-sec-img-wrap">
             <a href="https://lavanda.jp/collections/switch01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/hoodie03.jpg?v=1609224904" alt="">
            </a>
            <p class="hoodie__box-sec-txt is-sp-wide-hidden">
              <a href="https://lavanda.jp/products/lv20awnpk01">フラワーフォトパーカー ￥7,800 +tax<br></a>
              <a href="https://lavanda.jp/products/lv20awsk03">チュールレイヤードスカート ￥10,800 +tax<br></a>
            </p>
          </div>
          <div class="hoodie__box-sec-right">
            <h3 class="hoodie__box-sec-lead is-sp-wide-hidden">spring style</h3>
            <div class="hoodie__box-sec-right-img">
               <a href="https://lavanda.jp/collections/switch01">

                 <img src="{{ 'hoodie-new.jpg' |　asset_url  }}" >
                 
              </a>
            </div>
          </div>
          <p class="hoodie__box-sec-txt is-sp-wide">
            <a href="https://lavanda.jp/products/lv20awnpk01">フラワーフォトパーカー ￥7,800 +tax<br></a>
              <a href="https://lavanda.jp/products/lv20awsk03">チュールレイヤードスカート ￥10,800 +tax<br></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="skirt">
    <div class="skirt__wrapper">
      <div class="skirt__inner">
        <div class="skirt__head">

          <div class="skirt__head-left">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/topchange.png?v=1608993944" alt="" class="skirt__ttl">
            <a href="https://lavanda.jp/products/lv20awsk03">
            <p class="skirt__name is-sp-wide-hidden">チュールレイヤードスカート</p>
            </a>
            <p class="skirt__price  is-sp-wide-hidden">¥10,800 +tax</p>
          </div>
          <div class="skirt__head-right">
             <a href="https://lavanda.jp/products/lv20awsk03">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/skirt.png?v=1609059812" alt="" >
             </a>
            <a href="https://lavanda.jp/products/lv20awsk03">
            <p class="skirt__name is-sp-wide">チュールレイヤードスカート</p>
              </a>
            <p class="skirt__price  is-sp-wide">¥10,800 +tax</p>
          </div>

        </div>
        <div class="skirt__img-box">
          <div class="skirt__img-left">
            <a href="https://lavanda.jp/collections/switch01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/skirt01.jpg?v=1609225749" alt="" >
              </a>
          </div>
          <div class="skirt__img-right">
            <a href="https://lavanda.jp/collections/switch01">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/skirt02-new.jpg?v=1609333159" alt="" >
              </a>
          </div>
        </div>
        <div class="skirt__info">
          <p class="skirt__txt">
            <a href="https://lavanda.jp/products/la20awac14">ベルトベレー帽 ￥5,500 +tax<br></a>
            <a href="https://lavanda.jp/products/lv20awkt07">Vネックレースニット ￥9,800 +tax<br></a>
            <a href="https://lavanda.jp/products/lv20awsk03">チュールレイヤードスカート ￥10,800 +tax<br></a>
            <a href="https://lavanda.jp/products/la20awsh01">レースアップショートブーツ ¥15,000 +tax<br></a>
           
          </p>
        </div>
      </div>
    </div>
  </section>

<section class="dress">
  <div class="dress__wrapper">
    <div class="dress__inner">
      <div class="dress__head">
        <div class="dress__head-info">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/02.png?v=1608993943" alt="" class="dress__02-img" >
       
          <p class="dress__name">Military shirt one piece</p>
           
          <hr class="dress__hr">
           <a href="https://lavanda.jp/products/lv20awop03">
          <p class="dress__txt is-sp-wide-hidden">ミリタリーシャツワンピース</p>
              </a>
          <p class="dress__price is-sp-wide-hidden">¥14,000 +tax</p>
        </div>
        <div class="dress__head-img-wrap">
          
               <a href="https://lavanda.jp/products/lv20awop03">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dress.png?v=1609223295" alt="" class="dress__head-img" >
              </a>
          <a href="https://lavanda.jp/products/lv20awop03">
          <p class="dress__txt is-sp-wide">ミリタリーシャツワンピース</p>
          </a>
          <p class="dress__price is-sp-wide">¥14,000 +tax</p>
        </div>
        
      </div>
      <div class="dress__box">
        <p class="dress__box-lead is-sp-wide">winter style</p>
        <div class="dress__box-left">
           <a href="https://lavanda.jp/collections/switch02">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dress01.jpg?v=1609225749" alt="" >
          </a>
        </div>
        <div class="dress__box-info">
          <p class="dress__box-lead is-sp-wide-hidden">winter style</p>
          <div class="dress__box-img-wrap">
             <a href="https://lavanda.jp/collections/switch02">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dress02.jpg?v=1609225749" alt=""  class="dress__box-img">
            </a>
          </div>
          <p class="dress__box-txt">
             <a href="https://lavanda.jp/products/lv20awop03">ミリタリーシャツワンピース ￥14,000 +tax<br></a>
            <a href="https://lavanda.jp/products/lv20awkt06">ベルト付きニットOP ¥14,000 +tax<br></a>
            <a href="https://lavanda.jp/products/la20awsh01">レースアップショートブーツ ¥15,000 +tax<br></a>
          </p>
        </div>
      </div>

      <div class="dress__arrow-wrap">
         <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/arrow-right.png?v=1608993943" alt="" class="is-sp-wide-hidden">
           <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/switch-sp.png?v=1608993944" alt=""  class="is-sp-wide">
      </div>

      <div class="dress__box-sec">
        <p class="dress__box-sec-txt is-sp-wide">
         <a href="https://lavanda.jp/products/lv20awkt07">Vネックレースニット ￥9,800 +tax<br></a>
          <a href="https://lavanda.jp/products/lv20awop03">ミリタリーシャツワンピース ￥14,000 +tax<br></a>
        </p>
        <div class="dress__box-sec-left">
          <h3 class="dress__box-sec-lead is-sp-wide-hidden">spring style</h3>
          <div class="dress__box-sec-img-wrap">
             <a href="https://lavanda.jp/collections/switch02">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dress04.jpg?v=1609225749" alt="">
            </a>
          </div>
        </div>
        <div class="dress__box-sec-right">
          <h3 class="dress__box-sec-lead is-sp-wide">spring style</h3>
          <div class="dress__box-sec-right-img">
             <a href="https://lavanda.jp/collections/switch02">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dress03.jpg?v=1609225750" alt="">
            </a>
          </div>
          <p class="dress__box-sec-txt is-sp-wide-hidden">
          <a href="https://lavanda.jp/products/lv20awkt07">Vネックレースニット ￥9,800 +tax<br></a>
          <a href="https://lavanda.jp/products/lv20awop03">ミリタリーシャツワンピース ￥14,000 +tax<br></a>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="dummy">
  <div class="hoodie__wrapper dummy__wrapper">
    <div class="hoodie__inner">
      <div class="hoodie__head">
        <div class="hoodie__head-info dummy__head-info">
           <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/03.png?v=1608993943" alt=""  class="hoodie__number">
          
          <p class="hoodie__name"> side pleat one piece</p>
        
          <hr class="hoodie__hr">
        <a href="https://lavanda.jp/products/lv20awop04">
          <p class="hoodie__txt is-sp-wide-hidden">サイドプリーツワンピース</p>
             </a>
          <p class="hoodie__price is-sp-wide-hidden">¥13,000 +tax</p>
        </div>
        <div class="hoodie__head-img-wrap dummy__head-img-wrap">
         
          <a href="https://lavanda.jp/products/lv20awop04">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dummy-dress.png?v=1609325225" alt=""  class="hoodie__head-img　dummy__head-img">
              </a>
          <a href="https://lavanda.jp/products/lv20awop04">
          <p class="hoodie__txt is-sp-wide dummy__txt">サイドプリーツワンピース</p>
                </a>
          <p class="hoodie__price is-sp-wide">¥13,000 +tax</p>
        </div>
        
      </div>
      <p class="hoodie__box-lead is-sp-wide dummy__box-lead">winter style</p>
      <div class="hoodie__box dummy__box">
        <div class="hoodie__box-info">
          <p class="hoodie__box-lead is-sp-wide-hidden">winter style</p>
          <div class="hoodie__box-img-wrap dummy__box-img-wrap">
             <a href="https://lavanda.jp/collections/switch03">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dummy01.jpg?v=1609226690" alt="" class="hoodie__box-img">
            </a>
          </div>
          <p class="hoodie__box-txt">
            <a href="https://lavanda.jp/products/lv20awop04">サイドプリーツワンピース ¥13,000 +tax<br></a>
            <a href="https://lavanda.jp/products/lv20awct01">ボアガウンコート ¥18,000 +tax<br></a>
            <a href="https://lavanda.jp/products/lv20awac21">ベロアワイドカチューシャ ¥1,500 +tax<br></a>
          </p>
        </div>

        <div class="hoodie__box-right dummy__box-right">
             <a href="https://lavanda.jp/collections/switch03">
           <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dummy02.jpg?v=1609226692" alt="" >
          </a>
        </div>
      </div>

      <div class="hoodie__arrow-wrap dummy__arrow-wrap">
         <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/arrow-left.png?v=1609227254" alt="" class="is-sp-wide-hidden">
           <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/switch-sp.png?v=1608993944" alt=""  class="is-sp-wide">
      </div>

      <div class="hoodie__box-sec dummy__box-sec">
        <h3 class="hoodie__box-sec-lead is-sp-wide dummy__box-sec-lead">spring style</h3>
        <div class="hoodie__box-sec-img-wrap dummy__box-sec-img-wrap">
             <a href="https://lavanda.jp/collections/switch03">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dummy03.jpg?v=1609226692" alt="" >
          </a>
          <p class="hoodie__box-sec-txt is-sp-wide-hidden">
         <a href="https://lavanda.jp/products/lv20awac19">オーガンジーシュシュ ￥1,800 +tax<br></a>
        <a href="https://lavanda.jp/products/lv20awnsw01">フロッキースウェット ￥7,000 +tax<br></a>
        <a href="https://lavanda.jp/products/lv20awop04">サイドプリーツワンピース ¥13,000 +tax<br></a>
          </p>
        </div>
        <div class="hoodie__box-sec-right dummy__box-sec-right">
          <h3 class="hoodie__box-sec-lead is-sp-wide-hidden">spring style</h3>
          <div class="hoodie__box-sec-right-img">
               <a href="https://lavanda.jp/collections/switch03">
               <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/dummy04.jpg?v=1609226692" alt="" >
            </a>
          </div>
        </div>
      </div>
      <p class="hoodie__box-sec-txt is-sp-wide">
        <a href="https://lavanda.jp/products/lv20awac19">オーガンジーシュシュ ￥1,800 +tax<br></a>
        <a href="https://lavanda.jp/products/lv20awnsw01">フロッキースウェット ￥7,000 +tax<br></a>
        <a href="https://lavanda.jp/products/lv20awop04">サイドプリーツワンピース ¥13,000 +tax<br></a>
      </p>
    </div>
  </div>
</section>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
<!--   </div> -->
</div>
