<!-- 2022 DENIM LOOKS UPDATE -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
<div class="fv">
	<div class="fv-tit">
		<h1>
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_title.png?v=1645345775" alt="2022 DENIM LOOKS UPDATE" class="pc-aw" />
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_title_sp.png?v=1645345775" alt="2022 DENIM LOOKS UPDATE" class="sp-aw" />
		</h1>
	</div>
	<!-- ￼fv-tit -->
	<div class="fv-bg pc-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2899_1.5x.jpg?v=1645345775" alt="" />
	</div>
	<!-- ￼fv-bg -->
	<div class="fv-bg sp-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2899_sp.jpg?v=1632460599" alt="" />
	</div>
	<!-- ￼fv-bg -->
</div>
<!-- ￼fv -->

<div class="lp-container">

	<!-- LOOP -->
	<div class="bg">
	<div class="lp-contents lp-no-1">
		<h2>DENIM SKIRTS</h2>
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2842_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sjk1">ロゴパッチルーズデニムJK バンダナSET</a>
					</td>
					<td>¥12,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22ss1">ロゴパッチデニムスカート</a>
					</td>
					<td>¥10,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22ssh1">ナローストラップサンダル</a>
					</td>
					<td>¥9,500(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac10">クロスモチーフネックレス</a>
					</td>
					<td>¥2,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	</div><!--/bg-->
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="bg2">
	<div class="lp-contents lp-no-2">
		<h2>DENIM WIDE PANTS</h2>
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2519_sp.jpg?v=1632460599" alt="" />
			
		</div>
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2655_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22scs4">メッセージハーフジップスウェット</a>
					</td>
					<td>¥8,900 (tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sp1">ロゴパッチデニムボトム</a>
					</td>
					<td>¥11,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	<!-- LOOP -->
	</div><!--/bg2-->

	<!-- LOOP -->
	<div class="bg">
	<div class="lp-contents lp-no-3">
		<h2>DENIM SALOPETS</h2>
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_3168_sp.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_3331_sp.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_3374_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sp2">ロゴパッチデニムサロペット</a>
					</td>
					<td>¥13,900(tax in)</td>
				</tr>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sac1">パイルバケットハット</a>
					</td>
					<td>¥5,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
	</div>
	</div><!--/bg-->
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="bg2">
	<div class="lp-contents lp-no-4">
		<h2>DENIM JACKET</h2>
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2201_sp.jpg?v=1632460598" alt="" />
		</div>
		<!-- lp-box -->
		<div class="lp-boxs">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/denim202202_W1_2259_sp.jpg?v=1632460598" alt="" />
			<table>
				<tr>
					<td>
						<a href="https://lavanda.jp/products/lv22sjk1">ロゴパッチルーズデニムJK バンダナSET</a>
					</td>
					<td>¥12,900(tax in)</td>
				</tr>
			</table>
		</div>
		<!-- lp-box -->
		
	</div>
	</div>
	<!-- LOOP -->

</div>
<!-- lp-container -->
<style>
.pc-aw {
  display: block;
}

.sp-aw {
  display: none;
}

.fv {
  position: relative;
  z-index: 1;
  max-height: 1128px;
min-height: 753px;
  text-align: center; margin: 0 auto; overflow: hidden;
}

.fv-tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-width: 652px;
    width: 40%;
}

.fv-tit img {
  width: 100%;
}

.fv-bg {
  width: 100%;
}

.fv-bg.pc-aw { width: 100%;}

.lp-container {
  padding: 0 0 106px;
}

.lp-contents {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
}

.lp-contents table {
  padding: 0;
  border: none;
    margin: 30px auto 0 auto;
    text-align: left;
}

.lp-contents table td {
  padding: 5px 0 5px 0;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #010101;
  border: none;
}

.lp-contents table td a {
  color: #010101;
}

.lp-contents h2 {
  font-size: 25px; font-weight: bold; letter-spacing: 0.1em;
font-family: 'Montserrat', sans-serif;
display: block; text-align: center;
    margin: 0 auto 30px auto; 
}
.bg {
position: relative;
  width: 100%;
  background: #f4f4f4; padding-bottom: 16vw;
margin-top: -3vw;
}
.bg2 {
position: relative;
  width: 100%;
  background: none; padding-bottom: 16vw;
	margin-top: -3vw;
}
.bg2:last-of-type{ padding-bottom: 0;}
.bg2:last-of-type:before,
.bg2:last-of-type:after{ display: none;}

.bg::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 17vw solid #fff;
    border-left: 100vw solid transparent;
}
.bg::after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 17vw solid #fff;
    border-right: 100vw solid transparent;
}

.bg2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 17vw solid #f4f4f4;
    border-left: 100vw solid transparent;
}
.bg2::after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 17vw solid #f4f4f4;
    border-right: 100vw solid transparent;
}

.lp-boxs {
  position: relative;
  z-index: 2;
}


.lp-abg {
  background-color: #f2eeeb;
}

.lp-no-1 {
	width: 100%; padding: 130px 0 0 0;
}

.lp-no-1 table {
  margin: 30px 0 0 0;
}

.lp-no-1 .lp-boxs {
  width: 550px; margin: 0 auto; text-align: center;
}
.lp-no-1 .lp-boxs img{ width: 363px;}
.lp-no-2 { margin: 0 auto;
	width: 592px; min-height: 770px;
}

.lp-no-2 .lp-boxs:nth-of-type(1) {
  width: 339px; left: 0;
	position: absolute;
}

.lp-no-2 .lp-boxs:nth-of-type(1) img { width: 100%;}

.lp-no-2 .lp-boxs:nth-of-type(2){
	position: absolute; width: 100%;
	left: 0;
    bottom: 0;
}

.lp-no-2 .lp-boxs:nth-of-type(2) img { width: 229px;
position: absolute;     top: -360px;
    right: 0;}

.lp-no-2 .lp-boxs table {
  min-width: 50%;
  margin: auto;

}

.lp-no-3 {
 width: 624px; min-height: 920px;
}
.lp-no-3 table {
	min-width: 560px;
}

.lp-no-3 .lp-boxs:nth-of-type(1) {
  width: 320px;
}

.lp-no-3 .lp-boxs:nth-of-type(2) {
  width: 262px;
  position: absolute; right: 0; top: 310px;
}
.lp-no-3 .lp-boxs:nth-of-type(3) {
  width: 400px;
  position: absolute; left: 106px; bottom: 0;
}
.lp-no-3 .lp-boxs:nth-of-type(3) img{ width: 176px; margin-left: 38px;}

.lp-no-4 {
  min-height: 736px; width: 544px;
}

.lp-no-4 h2 {
  top: 24px;
  right: 20px;
}
.lp-no-4 .lp-boxs:nth-of-type(1){
	width: 308px;
	position: absolute; right: 0;
}

.lp-no-4 .lp-boxs:nth-of-type(2) {
    position: absolute; left: 0; top: 318px;
    width: 100%;}

.lp-no-4 .lp-boxs:nth-of-type(2) img{ width: 202px;}

.lp-no-4 table{ margin: 30px 0 0 30px;} 

.wrapper_header_parallax .wrapper-navigation {
    width: 45%;
}

@media screen and (max-width: 999px) {
  .pc-aw {
    display: none;
  }
  .sp-aw {
    display: block;
  }
  .fv {
    min-height: inherit;
  }
  .fv-tit { width: 86%;
  }
  .bg,.bg2 {
   padding-bottom: 22vw;
  }
  .lp-container {
    padding: 0 0 50px;
  }
  .lp-contents {
    display: block; padding: 5vw 0 5vw 0;
    max-width: inherit;
  }
.lp-contents table {
	min-width: 92vw; position: static; margin: 3vw auto 0 auto;
	}
  .lp-contents table td {
    font-size: 11px;
	padding: 1vw 0 1vw 3vw;
  }
	.lp-contents h2{ margin-bottom: 2vw; letter-spacing: 0;}
	.lp-no-1{ width: 100%; padding: 14vw 0 0 0;}

	.lp-no-1 .lp-boxs{ width: 100%;}
.lp-no-1 .lp-boxs img {
    width: 93vw;
}
  
	.lp-no-1 table{ margin: 3vw auto 0 auto;}
  .lp-no-2 { width: 100%; min-height: auto;
  }
  .lp-no-2 .lp-boxs {
    width: 100%;
    margin-left: 0;
    text-align: center; min-height: auto;
  }
	.lp-no-2 .lp-boxs:nth-of-type(1){ position: static;
	width: 93vw;
    margin: 0 auto;}

	.lp-no-2 .lp-boxs:nth-of-type(1) img{  position: static;}
.lp-no-2 .lp-boxs:nth-of-type(2) {
    width: 93vw; position: static;
    margin: 8vw auto 0 auto;
	text-align: center;
}
.lp-no-2 .lp-boxs:nth-of-type(2) img{  position: static; width: 70%;}
	
.lp-no-2 .lp-boxs table{ min-width: 100%; margin: 4vw auto 0 auto;}
  .lp-no-3 {
	  width: 100%; min-height: auto;
  }
.lp-no-3 .lp-boxs table {
	position: static;
    
}
.lp-no-3 .lp-boxs:nth-of-type(1),
.lp-no-3 .lp-boxs:nth-of-type(2),
.lp-no-3 .lp-boxs:nth-of-type(3) { position: static;}
  .lp-no-3 .lp-boxs:nth-of-type(1) {
    width: 93vw;
    margin: 0 auto;
  }
	.lp-no-3 .lp-boxs:nth-of-type(1) img{ width: 100%;}
  .lp-no-3 .lp-boxs:nth-of-type(2) {
    width: 93vw; margin: 0 auto;
    padding-top: 7vw;
    text-align: right; 
  }
	.lp-no-3 .lp-boxs:nth-of-type(2) img{ width: 60%;}
	.lp-no-3 .lp-boxs:nth-of-type(3) {
	display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-end;
	width: 92vw;
    margin: 7vw auto 0 auto;
	}
	.lp-no-3 .lp-boxs:nth-of-type(3) img{ width: 55%; margin-left: 0;}
	.lp-no-3 .lp-boxs:nth-of-type(3) table{ min-width: 38%; margin: 0;}
	.lp-no-3 .lp-boxs:nth-of-type(3) table td{ display: block; padding: 1vw 0 1vw 0;}
	
	.lp-no-3 .lp-boxs:nth-of-type(3) table td:nth-of-type(1),
	.lp-no-3 .lp-boxs:nth-of-type(3) table td:nth-of-type(3){ padding: 1vw 0 0 0;}

  .lp-no-4 {
    width: 100%; min-height: auto;
  }
  .lp-no-4 table {
      width: 92vw;
    position: static;
    min-width: 92vw;
    margin: 30px auto 0 auto; margin: 3vw auto 0 auto;
  }
	.lp-no-4:before{ display: none;}
	.lp-no-4 ul{ gap: 0; justify-content: space-between;}
	.lp-no-4 .lp-boxs:nth-of-type(1){ width: 93vw; margin: 0 auto; position: static;}
	.lp-no-4 .lp-boxs:nth-of-type(1) img{ width: 100%;}

.lp-no-4 .lp-boxs:nth-of-type(2) {
	width: 100%; position: static;
	margin: 7vw auto 0 auto;
    width: 100%; text-align: center;
}
	.lp-no-4 .lp-boxs:nth-of-type(2) img{ width: 50%;}
.wrapper_header_parallax .wrapper-navigation {
    width: 100%;
}
}
			</style>
<!-- /2022 DENIM LOOKS UPDATE -->