<div id="aw20-page"> 
<div class="bodytype-page">
        <section class="bodytype-main">
          <div class="visual-list">
            <picture>
              <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_main_visual_sp.jpg">
              <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_main_visual.jpg">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_main_visual.jpg" alt="BODY TYPES 身長別LAVANDAの着こなし企画">
            </picture>

            <h2 class="bodytype-title">
              <span class="main-title">BODY TYPES</span>
              <span class="sub-title">身長別LAVANDAの着こなし企画</span>
            </h2>
          </div>
        </section>

        <div class="marquee-wrapper">
          <div class="marquee">
            <div class="marquee-item">
              <span>WHICH ONE DO YOU LIKE?</span>
              <span>WHICH ONE DO YOU LIKE?</span>
            </div>
            <div class="marquee-item">
              <span>WHICH ONE DO YOU LIKE?</span>
              <span>WHICH ONE DO YOU LIKE?</span>
            </div>
            <div class="marquee-item">
              <span>WHICH ONE DO YOU LIKE?</span>
              <span>WHICH ONE DO YOU LIKE?</span>
            </div>
            <div class="marquee-item">
              <span>WHICH ONE DO YOU LIKE?</span>
              <span>WHICH ONE DO YOU LIKE?</span>
            </div>
            <div class="marquee-item">
              <span>WHICH ONE DO YOU LIKE?</span>
              <span>WHICH ONE DO YOU LIKE?</span>
            </div>
          </div>
        </div>

        <nav class="bodytype-navigation">
          <ul class="menu">
            <li>
              <a href="#bodytype-sec1">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb1_s.png?v=1601305029" alt="" width="64">
                </figure>
                <div class="detail">
                  <p class="num">1</p>
                  <p class="name">OVER ALL SKIRT</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#bodytype-sec2">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb2_s.png?v=1601305029" alt="" width="129">
                </figure>
                <div class="detail">
                  <p class="num">2</p>
                  <p class="name">V-NECK-LACE-KNIT</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#bodytype-sec3">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb3_s.png?v=1601305029" alt="" width="97.5">
                </figure>
                <div class="detail">
                  <p class="num">3</p>
                  <p class="name">LONG DUFFLE COAT</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#bodytype-sec4">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb4_s.png?v=1601305029" alt="" width="73">
                </figure>
                <div class="detail">
                  <p class="num">4</p>
                  <p class="name">SLACKS BELT PANTS</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#bodytype-sec5">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb5_s.png?v=1601305029" alt="" width="133.5">
                </figure>
                <div class="detail">
                  <p class="num">5</p>
                  <p class="name">.LOGO EMBROIDERY HOODIE</p>
                </div>
              </a>
            </li>
          </ul>
        </nav>

        <div class="bodytype-item-sec-wrapper">
          <section id="bodytype-sec1" class="bodytype-item-sec">
            <div class="bodytype-item-area">
              <div class="bodytype-item-left">
                <dl class="detail">
                  <dt>
                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb1.gif?v=1601015604" alt="" width="92">
                    </figure>
                  </dt>
                  <dd>
                    <p class="num">1</p>
                    <p class="name">OVER ALL SKIRT</p>
                    <p class="size">size : FREE</p>
                    <div class="price-box">
                      オーバーオールスカート<span class="price-text">　¥12,000＋tax</span>
                    </div>
                    <div class="cart-button">
                      <a href="https://lavanda.jp/products/lv20awop08" target="_blank">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_cart_icn.svg?v=1601304154" alt="">
                      </a>
                    </div>
                  </dd>

                </dl>
              </div>
              <div class="bodytype-item-right">
                <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_rank1_model_set_img.png" alt="" width="406">
              </div>
            </div>
            <div class="bodytype-item-detail">
              <ul class="bodytype-model-list">
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                                <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model1_img_bottom_01.jpg?v=1601360561" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model1_img_bottom_02.jpg?v=1601360561" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model1_img_bottom_03.jpg?v=1601360561" alt="">
                                </div>
                              </div>
                        </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                    <li><a href="https://lavanda.jp/products/la20awac14" class="item-link" target="_blank">ベルトベレー帽　¥5,500＋tax</a></li>
                    <li><a href="https://lavanda.jp/products/lv20awkt04" class="item-link" target="_blank">シアースリーブリブニット　¥6,800＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a> </li><div style="text-align: center;">M /身長148cm ヒール8.3cm</div>
                    
                  </ul>

                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                         <div class="bodytype-slideshow">
                                <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model2_img_bottom_03.jpg?v=1601360571" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model2_img_bottom_02.jpg?v=1601360571" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model2_img_bottom_03.jpg?v=1601360571" alt="">
                                </div>
                              </div>
                        </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                   <li><a href="https://lavanda.jp/products/lv20awac21" class="item-link" target="_blank">ベロアワイドカチューシャ　¥1,500＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/lv20awkt08" class="item-link" target="_blank">リブタートルニット　¥7,000＋tax</a></li>
 					<li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長152cm ヒール8.3cm</div>
                  </ul>

                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                                <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model3_img_bottom_01.jpg?v=1601360582" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model3_img_bottom_02.jpg?v=1601360582" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank1_model3_img_bottom_03.jpg?v=1601360581" alt="">
                                </div>
                              </div>
                        </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
             <li><a href="https://lavanda.jp/products/lv20awct01" class="item-link" target="_blank">ボアガウンコート　¥18,000＋tax</a></li>
             <li><a href="https://lavanda.jp/products/lv20awkt08" class="item-link" target="_blank">リブタートルニット　¥7,000＋tax</a></li>
             <li><a href="https://lavanda.jp/products/la20awac16" class="item-link" target="_blank">ウール調バケットハット　¥5,500＋tax</a></li>
             <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">L /身長162cm ヒール8.3cm</div>

                  </ul>
                </li>
              </ul>
            </div>
          </section>

          <section id="bodytype-sec2" class="bodytype-item-sec">
            <div class="bodytype-item-area">
              <div class="bodytype-item-left">
                <dl class="detail">
                  <dt>
                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb2.gif?v=1601018532" alt="" width="179">
                    </figure>
                  </dt>
                  <dd>
                    <p class="num">2</p>
                    <p class="name">V-NECK-LACE-KNIT</p>
                    <p class="size">size : FREE</p>
                    <div class="price-box">
                      Vネックレースニット<span class="price-text">　¥9,800＋tax</span>
                    </div>
                    <div class="cart-button">
                      <a href="https://lavanda.jp/products/lv20awkt07" target="_blank">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_cart_icn.svg?v=1601304154" alt="">
                      </a>
                    </div>
                  </dd>

                </dl>
              </div>
              <div class="bodytype-item-right">
                <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_rank2_model_set_img.png" alt="" width="406">
              </div>
            </div>
            <div class="bodytype-item-detail">
              <ul class="bodytype-model-list">
                <li>
                  <dl class="model-list-detail">
                    <dt>
                       <div class="bodytype-slideshow">
                                <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model1_img_bottom_01.jpg?v=1601362532" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model1_img_bottom_02.jpg?v=1601362532" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model1_img_bottom_03.jpg?v=1601362532" alt="">
                                </div>
                              </div>
                        </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                   <li><a href="https://lavanda.jp/products/lv20awop06" class="item-link" target="_blank">サテンキャミワンピース　¥10,800＋tax</a></li>
                   <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長148cm ヒール8.3cm</div>
                  </ul>

                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                                <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model2_img_bottom_01.jpg?v=1601362532" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model2_img_bottom_02.jpg?v=1601362532" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model2_img_bottom_03.jpg?v=1601362532" alt="">
                                </div>
                                 <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model2_img_bottom_04.jpg?v=1601362540" alt="">
                                </div>
                              </div>
                        </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                     <li><a href="https://lavanda.jp/products/lv20awsk03" class="item-link" target="_blank">チュールレイヤードスカート　¥10,800＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長152cm ヒール8.3cm</div>

                  </ul>

                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model3_img_bottom_01.jpg?v=1601362550" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model3_img_bottom_02.jpg?v=1601362550" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank2_model3_img_bottom_03.jpg?v=1601362550" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                     <!--<li><a href="https://lavanda.jp/products/wide-denim-pants" class="item-link" target="_blank"> ワイドデニムパンツ/¥12,800＋tax<br>着用サイズ:M /H162(cm)</a></li>-->
                    
                      <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長162cm ヒール8.3cm</div>
                      <li><a href="https://lavanda.jp/products/lv20awac21" class="item-link" target="_blank">ベロアワイドカチューシャ　¥1,500＋tax</a></li>
                 </ul>
                </li>
              </ul>
            </div>
          </section>

          <section id="bodytype-sec3" class="bodytype-item-sec">
            <div class="bodytype-item-area">
              <div class="bodytype-item-left">
                <dl class="detail">
                  <dt>
                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb3.gif" alt="" width="138">
                    </figure>
                  </dt>
                  <dd>
                    <p class="num">3</p>
                    <p class="name">LONG DUFFLE COAT</p>
                    <p class="size">size : FREE</p>
                    <div class="price-box">
                      ロングダッフルコート<span class="price-text">　¥22,000＋tax</span>
                    </div>
                    <div class="cart-button">
                      <a href="https://lavanda.jp/products/lv20awct02" target="_blank">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_cart_icn.svg?v=1601304154" alt="">
                      </a>
                    </div>
                  </dd>

                </dl>
              </div>
              <div class="bodytype-item-right">
                <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_rank3_model_set_img.png" alt="" width="406">
              </div>
            </div>
            <div class="bodytype-item-detail">
              <ul class="bodytype-model-list">
                <li>
                  <dl class="model-list-detail">
                    <dt>
						<div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_rank3_model1_img_bottom_01.jpg" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_rank3_model1_img_bottom_02.jpg" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_rank3_model1_img_bottom_03.jpg" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                     <li><a href="https://lavanda.jp/products/lv20awkt08" class="item-link" target="_blank">リブタートルニット　¥7,000＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/lv20awop04" class="item-link" target="_blank">サイドプリーツワンピース　¥13,000＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長148cm ヒール8.3cm</div>
                  </ul>
                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank3_model2_img_bottom_01.jpg?v=1601366040" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank3_model2_img_bottom_02.jpg?v=1601366040" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank3_model2_img_bottom_03.jpg?v=1601366050" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                     <li><a href="https://lavanda.jp/products/lv20awkt06" class="item-link" target="_blank">ベルト付きニットOP　¥14,000＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長152cm ヒール8.3cm</div>
                      <li><a href="https://lavanda.jp/products/lv20awac20" class="item-link" target="_blank">ベロアリボンゴム　¥1,800＋tax</a></li>
                 </ul>
                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank3_model3_img_bottom_01.jpg?v=1601366058" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank3_model3_img_bottom_02.jpg?v=1601366058" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank3_model3_img_bottom_03.jpg?v=16013660581" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                     <li><a href="https://lavanda.jp/products/lv20awspl02" class="item-link" target="_blank">レディースフォトロンT　¥6,000＋tax</a></li>
                     <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長162cm ヒール8.3cm</div>
                       <li><a href="https://lavanda.jp/products/la20awac15" class="item-link" target="_blank">ウール調キャスケット　¥5,500＋tax</a></li>
                </ul>
                </li>
              </ul>
            </div>
          </section>

          <section id="bodytype-sec4" class="bodytype-item-sec">
            <div class="bodytype-item-area">
              <div class="bodytype-item-left">
                <dl class="detail">
                  <dt>
                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb4.gif?v=1601021089" alt="" width="111">
                    </figure>
                  </dt>
                  <dd>
                    <p class="num">4</p>
                    <p class="name">SLACKS BELT PANTS</p>
                    <p class="size">size : S,M</p>
                    <div class="price-box">
                      スラックスベルトパンツ<span class="price-text">　¥9,800＋tax</span>
                    </div>
                    <div class="cart-button">
                      <a href="https://lavanda.jp/products/lv20awpt01" target="_blank">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_cart_icn.svg?v=1601304154" alt="">
                      </a>
                    </div>
                  </dd>

                </dl>
              </div>
              <div class="bodytype-item-right">
                <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_rank4_model_set_img.png" alt="" width="406">
              </div>
            </div>
            <div class="bodytype-item-detail">
              <ul class="bodytype-model-list">
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model1_img_bottom__01.jpg?v=1601366754" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model1_img_bottom_02.jpg?v=1601366764" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model1_img_bottom_03.jpg?v=1601366773" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
     <li><a href="https://lavanda.jp/products/lv20awspl01" class="item-link" target="_blank">メンズフォトロンT　¥6,000＋tax</a></li>
        <li><a href="https://lavanda.jp/products/lv20awpt01?variant=35757097615515" class="item-link" target="_blank">スラックスベルトパンツ　¥9,800＋tax</a></li><div style="text-align: center;">S /身長148cm</div>           
        <li><a href="https://lavanda.jp/products/la20awac16" class="item-link" target="_blank">ウール調バケットハット　¥5,500＋tax</a></li>
        <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長148cm ヒール8.3cm</div>
                  </ul>
                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model2_img_bottom_01.jpg?v=1601366764" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model2_img_bottom_02.jpg?v=1601366764" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model2_img_bottom_03.jpg?v=1601366764" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                   <ul class="bodytype-model-list-detail">
                         <li><a href="https://lavanda.jp/products/lv20awkt03" class="item-link" target="_blank">ジップフードニット　¥8,500＋tax</a></li>
                         <li><a href="https://lavanda.jp/products/lv20awpt01?variant=35757097615515" class="item-link" target="_blank">スラックスベルトパンツ　¥9,800＋tax</a></li><div style="text-align: center;">S /身長152cm</div>
                         <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長152cm ヒール8.3cm</div>
                     <li><a href="https://lavanda.jp/products/lv20awac19" class="item-link" target="_blank">オーガンジーシュシュ　¥1,800＋tax</a></li>
                  </ul>
                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                     <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model3_img_bottom_01.jpg?v=1601366773" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model3_img_bottom_02.jpg?v=1601366773" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank4_model3_img_bottom_03.jpg?v=1601366773" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                   <ul class="bodytype-model-list-detail">
                         <li><a href="https://lavanda.jp/products/lv20awjk02" class="item-link" target="_blank">テーラードジャケット　¥13,000＋tax</a></li>
                          <li><a href="https://lavanda.jp/products/lv20awpk04" class="item-link" target="_blank">メンズフォトパーカー　¥8,000＋tax</a></li>
                         <li><a href="https://lavanda.jp/products/lv20awpt01?variant=35757097615515" class="item-link" target="_blank">スラックスベルトパンツ　¥9,800＋tax</a></li><div style="text-align: center;">M /身長162cm</div>
                          <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長162cm ヒール8.3cm</div>
                 </ul>
                </li>
              </ul>
            </div>
          </section>

          <section id="bodytype-sec5" class="bodytype-item-sec">
            <div class="bodytype-item-area">
              <div class="bodytype-item-left">
                <dl class="detail">
                  <dt>
                    <figure class="thumb">
                      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/gif_2020aw_type_visual_thumb5.gif?v=1601022012" alt="" width="204">
                    </figure>
                  </dt>
                  <dd>
                    <p class="num">5</p>
                    <p class="name">LOGO EMBROIDERY HOODIE</p>
                    <p class="size">size : FREE</p>
                    <div class="price-box">
                      ロゴ刺繍パーカー<span class="price-text">　¥7,800＋tax</span>
                    </div>
                    <div class="cart-button">
                      <a href="https://lavanda.jp/products/lv20awpk01" target="_blank">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_cart_icn.svg?v=1601304154" alt="">
                      </a>
                    </div>
                  </dd>

                </dl>
              </div>
              <div class="bodytype-item-right">
                <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_type_rank5_model_set_img.png" alt="" width="406">
              </div>
            </div>
            <div class="bodytype-item-detail">
              <ul class="bodytype-model-list">
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model1_img_bottom_01.jpg?v=1601367208" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model1_img_bottom_02.jpg?v=1601367208" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model1_img_bottom_03.jpg?v=1601367208" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                    <li><a href="https://lavanda.jp/products/lv20awsk03" class="item-link" target="_blank">チュールレイヤードスカート　¥10,800＋tax</a></li>
                      <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長148cm ヒール8.3cm</div>
                      <li><a href="https://lavanda.jp/products/lv20awac19" class="item-link" target="_blank">オーガンジーシュシュ　¥1,800＋tax</a></li>
                </ul>
                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model2_img_bottom_01.jpg?v=1601367218" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model2_img_bottom_02.jpg?v=1601367218" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model2_img_bottom_03.jpg?v=1601367217" alt="">
                                </div>
                              </div>
                       </div>
                    </dt>
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                    <li><a href="https://lavanda.jp/products/lv20awop06" class="item-link" target="_blank">サテンキャミワンピース　¥10,800＋tax</a></li>
                    <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長152cm ヒール8.3cm</div>
                     <li><a href="https://lavanda.jp/products/la20awac16" class="item-link" target="_blank">ウール調バケットハット　¥5,500＋tax</a></li>
               </ul>
                </li>
                <li>
                  <dl class="model-list-detail">
                    <dt>
                      <div class="bodytype-slideshow">
                      <div class="bodytype-slider">
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model3_img_bottom_01.jpg?v=1601367228" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model3_img_bottom_02.jpg?v=1601367228" alt="">
                                </div>
                                <div class="item">
                                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/0929_gif_2020aw_type_rank5_model3_img_bottom_03.jpg?v=1601367228" alt="">
                                </div>
                              </div>
                       </div>
                    </dt> 
                    <dd>
                      <div class="item-detail"></div>
                    </dd>
                  </dl>
                  <ul class="bodytype-model-list-detail">
                    <li><a href="https://lavanda.jp/products/lv20awpt02" class="item-link" target="_blank">チェックワイドパンツ（IVORY）　¥10,800＋tax</a></li><div style="text-align: center;">M /身長162cm</div>
                    <li><a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a></li><div style="text-align: center;">M /身長162cm ヒール8.3cm</div>

                  </ul>
                </li>
              </ul>
            </div>
          </section>
        </div>

      </div>
</div> 
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<style>
  

</style>
<script type="text/javascript">
      $(function () {
        $('.bodytype-slider').slick({
          draggable: false,
          arrows: false,
          pauseOnHover: false,
          pauseOnFocus: false,
          dots: false,
          fade: false,
          autoplay: true,
          autoplaySpeed: 1250,
          speed: 0,
          infinite: true,
          cssEase: 'cubic-bezier(0.7, 0, 0.3, 1)',
          touchThreshold: 100,
         

        })
      })
    </script>