

<div class="main-container">
  <div class="top">
    <img class="pc" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOKTOPpc.png?v=1614949474" alt="">
    <img class="sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_top_sp.png?v=1614782622" alt="">    
    <div class="top-txt text-center">
      <p>2021 
        <br>SPRING SUMMER
        <br>LOOK
      </p>
    </div>     
  </div>
  <div class="wrapper">
    <div class="section-1">
      <div class="sec1-1 fadein">
        <div class="sec1-1-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_1_1.png?v=1614781068" alt"">
        </div>        
        <div class="sec1-1-txt">
          <p><a href="https://lavanda.jp/products/LV21SSB4">キャミ付きフリルブラウス　&yen;8,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSP4">サイドレースワッシャーパンツ　&yen;11,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC36">ダブルリボンヘアゴム　&yen;2,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC26">フープセットピアス　&yen;2,900 (tax in)</a>
          </p>
        </div>

<!--         <div class="sec1-1-txt text-center sp">
          <p><a href="https://lavanda.jp/products/LV21SSB4">キャミ付きフリルブラウス　&yen;8,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSP4">サイドレースワッシャーパンツ　&yen;11,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC36">ダブルリボンヘアゴム　&yen;2,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC26">フープセットピアス　&yen;2,900 (tax in)</a>
          </p>
        </div>         -->
      </div>
      <div class="sec1-2 text-center fadein">
        <div class="sec1-2-title">
          <p>Blouson×One piece</p>
        </div>
        <div class="sec1-2-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_1_2.png?v=1614781076" alt"">
        </div>
        <div class="sec1-2-txt">
          <p><a href="https://lavanda.jp/products/LV21SSO3">チュールレイヤードライトブルゾン　&yen;13,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSOP1">レーススウィッチングキャミワンピース　&yen;12,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC26">フープセットピアス　&yen;2,900 (tax in)</a>
          </p>
        </div>
      </div>
      <div class="tone-1">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/tone_1.png?v=1614863803" alt="">
      </div>      
    </div>
    <div class="section-2">
      <div class="sec2-1 fadein">
        <div class="sec2-1-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_2_1.png?v=1614781082" alt="">
        </div>
        <div class="sec2-1-txt">
          <p><a href="https://lavanda.jp/products/LV21SSP3">ワイドオールインワン　&yen;14,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC25">レジン2連ブレスレット　&yen;2,900 (tax in)</a>
          </p>
        </div>
      </div>
      <div class="sec2-2 fadein">
        <div class="sec2-2-txt">
          <p><a href="https://lavanda.jp/products/LV21SST4">ロゴ刺繍バックリボンTシャツ　&yen;5,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSP2">ストレートタックワイドパンツ　&yen;10,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSCH4">ビットローファー　&yen;8,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC13">イニシャルハートネックレス　&yen;3,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC23">2WAYレジンピアス　&yen;2,900 (tax in)</a>
          </p>
        </div>        
        <div class="sec2-2-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_2_2.png?v=1614781088" alt="">
        </div>
        <div class="tone-2 sp">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/tone-2.png?v=1614863927" alt="">
        </div>   
        <div class="tone-3 sp">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/tone_3.png?v=1614863893" alt="">
        </div>
      </div>  
      <div class="tone-2 pc">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/tone-2.png?v=1614863927" alt="">
      </div>   
      <div class="tone-3 pc">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/tone_3.png?v=1614863893" alt="">
      </div>         
    </div>
    <div class="section-3">
      <div class="sec3-1 fadein">
        <div class="sec3-1-img">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_3_1.png?v=1614781093" alt="">
          <img class="sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_3_1_sp.png?v=1614782629" alt="">
        </div>
        <div class="sec3-1-txt">
          <p><a href="https://lavanda.jp/products/LV21SST6">バックプリントTシャツワンピース　&yen;8,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSS3">ランダムプリーツシアーチェックスカート　&yen;10,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSCH2">オープントゥミュール　&yen;8,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC11">シアーチェックシュシュ　&yen;2,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC39">2WAYレジンピアス　&yen;2,900 (tax in)</a>
          </p>
        </div>
      </div>
      <div class="sec3-2 fadein">
        <div class="sec3-2-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_3_2.png?v=1614781100" alt="">
        </div>        
        <div class="sec3-2-txt">
          <p><a href="https://lavanda.jp/products/LV21SSB3">フリルカラー２WAYトップス　&yen;7,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSS5">スウィッチングフレアスカート　&yen;9,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSCH3">チャンキースニーカー　&yen;12,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC37">フープセットイヤリング　&yen;2,900 (tax in)</a>
          </p>
        </div>        
      </div>      
    </div>
    <div class="section-4">
      <div class="sec4-1 fadein">
        <div class="sec4-1-img">
          <img class="pc" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_4_1.png?v=1614781108" alt="">
          <img class="sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_4_1_sp.png?v=1614863777" alt="">
        </div>
        <div class="sec4-1-txt text-center pc">
          <p>2021 SPRING SUMMER LOOK</p>
        </div>
        <div class="sec4-1-txt text-center sp">
          <p>2021
            <br>SPRING SUMMER
            <br>LOOK
          </p>
        </div>        
      </div>
    </div>
    <div class="section-5">
      <div class="sec5-1 fadein">
        <div class="sec5-1-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_5_1.png?v=1614781114" alt="">
        </div>
        <div class="sec5-1-txt">
         　 <p><a href="https://lavanda.jp/products/LV21SSB2">2WAYパフスリーブニット　&yen;6,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSS3">ランダムプリーツシアーチェックスカート<br>&yen;10,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSCH2">オープントゥミュール　&yen;8,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC18">オーガンジーリボンハット　&yen;6,900 (tax in)</a>
             <br><a href="https://lavanda.jp/products/LV21SSAC13">イニシャルハートネックレス　&yen;3,500 (tax in)</a>
          </p>
        </div>
      </div>
      <div class="sec5-2 fadein">
        <div class="sec5-2-img">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/LOOK_5_2.png?v=1614781119" alt="">
        </div>        
        <div class="sec5-2-txt">
            
             
            <p><a href="https://lavanda.jp/products/LV21SSB5">フレンチスリーブパーカー　&yen;6,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSS2">ドットチュールスカート　&yen;11,900 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC21">リボンサテンキャップ　&yen;5,500 (tax in)</a>
            <br><a href="https://lavanda.jp/products/LV21SSAC16">ハートピアス　&yen;2,500 (tax in)</a>
             
             
          </p>
        </div>        
      </div>  
      <div class="tone-4">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/tone_4.png?v=1614872049" alt="">
      </div>            
    </div>
  </div>  
</div>
<footer>
</footer>


<style>
/*  共通Class  */
  .text-center {
   	text-align:center; 
  }
  .text-right {
   	text-align:right;
  }
  p {
   	/*商品名及び値段の表示*/
    font-size:1.1vw;
    line-height:1.5;
    color:#9E96A1;
    font-family: "NotoSerifJP_SemiBold";
  }
  a {
    /*商品名及び値段の表示*/
    color:#9E96A1;
    font-family: "NotoSerifJP_SemiBold"; 
  }
  @font-face {
    font-family: 'Montserrat_Medium';
    src: url(' {{ 'Montserrat_Medium.ttf' | asset_url }} ') format('opentype');
  }
  @font-face {
    font-family: 'NotoSerifJP_SemiBold';
    src: url(' {{ 'NotoSerifJP_SemiBold.otf' | asset_url }} ') format('opentype');
  }  
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
  .pc { 
	display: block !important; 
  }
  .sp { 
    display: none !important; 
  }

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
  @media only screen and (max-width: 750px) {
      .pc { 
  		display: none !important; 
      }
      .sp { 
        display: block !important; 
      }
  }  
/*  固有Class  */
  .main-container {
    max-width:1200px;
	width:100%;
    margin:0 auto;
    padding-bottom:8%;
  }
  .top {
    width:100%; 
    position:relative;
  }
  .top img{
    width:100%; 
  }  
  .top-txt{
    width:100%;
   	position:absolute; 
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
    letter-spacing: 13px;
  }
  .top-txt p {
   	font-size:3.5vw;
    color:#FFFFFF;
    font-family:Montserrat_Medium;
    line-height:1.75;
  }  
  .wrapper {
    width:85%;
    margin:0 auto;
  }
  .section-1 {
    width:100%;
    position:relative;/*tone-1用*/
  }
  .sec1-1 {
    width:100%;
   	display:flex;
    flex-direction: row-reverse;
    padding:5% 0;
  }
  .sec1-1-txt {
    width:100%;
    display:flex;
    align-items: flex-end;
    text-align:right;
  }
  .sec1-1-txt p{
    width:100%;
    padding-right: 2%;
  }  
  .sec1-1-img {
    width:100%;
  }
  .sec1-2 {
    width:100%;
    padding: 6% 0;
  }
  .sec1-2-title {
    width:100%;
  }  
  .sec1-2-title p{
    width: 100%;
    font-family: "Montserrat_Medium";
    color: #A5A5A5;
    font-size: 1.5vw;
    letter-spacing: 5px;
    padding-bottom: 1%;
    opacity: 0.5;
  }  
  .sec1-2-img {
    width:43%;
    margin: 0 auto;    
  }     
  .sec1-2-txt {
    width:100%;
    padding-top: 1.5%;
  }
  .sec1-2-txt p{
    width:100%;
  }
  .section-2 {
    width:100%;
    display:flex;
    padding: 10% 0 12% 0;
    position:relative;/*tone-2，3用*/
  }
  .sec2-1 {
    width:100%;
    padding-bottom:20%;
    padding-right:6%;
  }
  .sec2-1-img {
    width: 95%;
    padding-right: 10%;
    margin-left: auto;
  }
  .sec2-1-txt {
    width: 100%;
    padding-top: 2.5%;
    padding-left: 5%;
  }  
  .sec2-2 {
    width:100%;
    margin-top:25%;
    padding-left:6%;
  }
  .sec2-2-img {
    width:95%;
    padding-left:10%;
  }
  .sec2-2-txt {
    width:100%;
    padding-bottom: 4%;
    padding-right: 5%;
    text-align: right;
  }    
  .section-3 {
    width:100%;
    display:flex;
  }
  .sec3-1 {
    width:100%;
    padding-bottom:20%;
    padding-right:3%;
  }
  .sec3-1-img {
    width: 100%;
    padding-left: 15%;
  }
  .sec3-1-txt {
    width: 100%;
    padding-top: 5%;
    padding-left: 3%;
  }  
  .sec3-2 {
    width:100%;
    margin-top:40%;
    padding-left:4%;
  }
  .sec3-2-img {
    width: 85%;
  }
  .sec3-2-txt {
    width:100%;
    padding-top: 4%;
    padding-right: 20%;
    text-align:right;
  }     
  .sec4-1 {
    width:100%;
    position:relative;
    padding: 11% 0;
  }
  .sec4-1-img {
   	width:100%; 
  }
  .sec4-1-txt {
   	width:100%; 
   	position:absolute; 
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;    
  }
  .sec4-1-txt p{
    font-size: 2vw;
    color: #FFFFFF;
    font-family: Montserrat_Medium;
    letter-spacing: 5px;
  }
  .section-5 {
    width:100%;
    display:flex;
    position:relative;/*tone-4用*/
  }
  .sec5-1 {
    width: 100%;
    padding-top: 30%;
    padding-right: 4%;
  }
  .sec5-1-img {
    width:100%;
  }
  .sec5-1-txt {
    width:100%;
    padding-top: 2%;
    padding-left: 3%;
  }  
  .sec5-2 {
    width: 100%;
    padding-bottom: 20%;
    padding-left: 4%;
  }
  .sec5-2-img {
    width:90%;
  }
  .sec5-2-txt {
    width: 100%;
    padding-top: 2%;
    padding-right: 2%;
    text-align: right;
  }    
  /*  背景画像(tone)設定   */
  .tone-1{
    width: 43%;
    position: absolute;
    top: 27%;
    left: 94%;
    transform: translateY(-50%) translateX(-50%) rotate(
      -25deg
    );
    -webkit- transform: translateY(-50%) translateX(-50%);
    opacity: 0.6;
  }  
  .tone-2{
    width: 18%;
    position: absolute;
    top: 56.8%;
    left: 54.5%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    z-index: -1;
  }
  .tone-3{
    width: 60%;
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    z-index: -2;
    opacity: 0.3;
  }    
  .tone-4{
    width: 40%;
    position: absolute;
    top: 98%;
    left: 107%;
    transform: translateY(-50%) translateX(-50%) scale(-1,1);
    -webkit- transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    opacity: 0.7;
  }    
  @media only screen and (max-width: 750px) {
    .wrapper {
      width:100%;
    }
    .top-txt {
      top: 15%; 
      letter-spacing: 7px;
    }
    .top-txt p {
      font-size: 6vw;
      line-height: 1.5;
    }
    p {
      /*商品名及び値段の表示*/
      font-size: 3.3vw;
      line-height: 2;
      padding-top: 5%;
    }
    .sec1-1 {
      display: block;
      padding: 10% 0 17% 0;
      flex-direction: column;
    }
    .sec1-1-img {
      width: 93%;
    }
    .sec1-1-txt {
      text-align:center;
    }
    .sec1-2 {
      padding:6% 0 0 0;
    }
    .sec1-2-title p {
      font-size: 3.5vw;  
    }
    .sec1-2-img {
      width: 100%;
    }
    .sec1-2-txt p {
      padding-top: 1%;
      font-size: 3vw;
    }
    .section-2 {
      display: block;
      padding-top: 9%;
      padding-bottom: 25%;
    }
    .sec2-1 {
      width:100%;
      padding-bottom:0%;
      padding-right: 0%;
    }
    .sec2-1-img {
      width:80%;
      padding-right: 0%;
      margin:0 auto;
    }
    .sec2-1-img img {
      margin:0 auto;
    }
    .sec2-1-txt {
      width:100%;
      padding-top: 0%;
      text-align:center;
    }  
    .sec2-2 {
      margin-top: 30%;
      padding-left: 0%;
      display: flex;
      flex-direction: column-reverse;
    }
    .sec2-2-img {
      width: 80%;
      padding-left: 0%;
      margin: 0 auto;
    }  
    .sec2-2-txt {
      width: 100%;
      padding-bottom: 3%;
      text-align: center;
    }
    .sec2-2-txt p{
      font-size:3vw;
    }    
    .section-3 {
      display:block;
    }
    .sec3-1 {
      padding-right:0%;
      padding-bottom: 0%;
    }
    .sec3-1-img {
      padding-left: 0%;
      width: 92%;
      margin-left: auto;
    }
    .sec3-1-img img{
      margin-right: 0;
      margin-left: auto;
    }    
    .sec3-1-txt {
      text-align: center;
      padding-top: 0%;
      padding-left: 0%;
    }
    .sec3-1-txt p{
      font-size:3vw;
    }       
    .sec3-2 {
      margin-top: 30%;
      padding-left: 0%;
    }
    .sec3-2-img {
      width: 85%;
      margin: 0 auto;
    }    
    .sec3-2-txt {
      padding-top: 0%;
      padding-right: 0%;
      text-align: center;
    }
    .sec3-2-txt p{
      padding-top: 3%;
    }
    .sec4-1 {
      padding: 22% 0 30% 0;
    }
    .sec4-1-img {
      margin: 0 auto;
      width: 75%;
    }
    .sec4-1-txt {
      top: 47.5%;
    }
    .sec4-1-txt p {
      font-size: 4vw;
      line-height: 1.5;
      padding-top: 0%;
    }    
    .section-5 {
      flex-direction:column-reverse;
    }
    .sec5-1 {
      width: 100%;
      padding: 15% 0;
    }
    .sec5-1-img {
      width: 92%;
      margin: 0 auto;
    }
    .sec5-1-txt {
      width: 100%;
      padding-top: 0%;
      padding-left: 0%;
      text-align: center;
    }    

    .sec5-2 {
      padding-left: 0%;
      padding-bottom: 10%;
    }
    .sec5-2-img {
      width: 100%;
    }
    .sec5-2-txt {
      padding-top: 0%;
      padding-right: 0%;
      text-align: center;
    }
    .sec5-2-txt p{
      font-size:3vw;
    }      
    
    .tone-1 {
      width: 65%;
      top: 22%;
      left: 88%;
      opacity: 0.7;
    }    
    .tone-2 {
      width: 35%;
      top: 23%;
      left: -1.5%;
    }
    .tone-3 {
      width: 100%;
      top: 65%;
      left: 70%;
      z-index: 1;
    }    
    .tone-4 {
      top: 105%;
      left: 107%;
      width:70%;
    }
</style>

<style>
  .main-content {
    padding-bottom: 0%;
  }  
  footer {
    width: 100%;
    border-top: 0.5px solid #cecbd0;
  }
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
{{ 'effect.css' | asset_url | stylesheet_tag }}
{{ 'effect.js' | asset_url | script_tag }}