 <div id="aw20-page">    
<div class="aw-page">
  
        <section class="aw-main">
          <div class="visual-list">
            <picture>
              <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_main_visual_sp.jpg">
              <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_main_visual.jpg">
              <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_main_visual.jpg" alt="AUTUMN WINTER COLLECTION"></source>
            </picture>

            <h2 class="aw-title">
              <span class="main-title">AUTUMN WINTER</span>
              <span class="sub-title">COLLECTION</span>
            </h2>
          
          </div>
        </section>

        <section class="aw-sec1">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_shutter_img1.jpg?v=1601035631" alt="">
                  </figure>

                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_shutter_img2.jpg" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_shutter_img3.jpg" alt="">
                  </figure>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_shutter_img4.jpg" alt="">
                  </figure>
                </li>
              </ul>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/lv20awkt06" class="item-link" target="_blank">ベルト付きニットOP　¥14,000＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awac07" class="item-link" target="_blank">ハートサンドピアス　¥2,500＋tax</a></p>
              </div>
            </div>
          </div>
        </section>

        <section class="aw-sec2">
          <div class="inner">
            <div class="aw-sec-area">
              <div class="aw-sec-left">
                <ul class="visual-list">
                  <li>
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual_img2.jpg?v=1601027663" alt="" width="208">
                  </li>
                  <li>
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual_img3.jpg?v=1600941697" alt="" width="208">
                  </li>
                </ul>
                <div class="detail pc-only">
                  <p class="text"><a href="https://lavanda.jp/products/lv20awac08" class="item-link" target="_blank">ジュエリーリングイヤカフ　¥2,000＋tax</a><br>
                   <a href="https://lavanda.jp/products/lv20awac20" class="item-link" target="_blank">ベロアリボンゴム　¥1,800＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awkt04" class="item-link" target="_blank">シアースリーブリブニット　¥6,800＋tax</a><br>
</p>
                </div>
              </div>
              <div class="aw-sec-right">
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual_img1.jpg?v=1601029046" alt="" width="335">
                </figure>
                <div class="detail sp-only">
  <p class="text"><a href="https://lavanda.jp/products/lv20awac08" class="item-link" target="_blank">ジュエリーリングイヤカフ　¥2,000＋tax</a><br>
                   <a href="https://lavanda.jp/products/lv20awac20" class="item-link" target="_blank">ベロアリボンゴム　¥1,800＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awkt04" class="item-link" target="_blank">シアースリーブリブニット　¥6,800＋tax</a><br>
</p>
                </div>

              </div>
            </div>
          </div>
        </section>

        <section class="aw-sec3">
          <div class="inner">
            <div class="aw-sec-area">

              <ul class="visual-list">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_visual2_img3.jpg?v=1601003262" alt="">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual2_img2.jpg?v=1601038747" alt="">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/pic_2020aw_visual2_img1.jpg?v=1601003262" alt="">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual2_img4.jpg?v=1601038734" alt="">
                </li>

              </ul>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/la20awac16" class="item-link" target="_blank"> ウール調バケットハット　¥5,500＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awjk02" class="item-link" target="_blank">テーラードジャケット　¥13,000＋tax</a><br>
					<a href="https://lavanda.jp/products/lv20awop04" class="item-link" target="_blank">サイドプリーツワンピース　¥13,000＋tax</a><br>
                <a href="https://lavanda.jp/products/la20awac012" class="item-link" target="_blank">レイヤードバングル　¥3,800＋tax</a><br>
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="aw-sec4">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_slide_img2.jpg" alt="" width="34">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_slide_img1.jpg?v=1601034896" alt="" width="346">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_slide_img3.jpg" alt="" width="34">
                </li>

              </ul>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/la20awac15" class="item-link" target="_blank">ウール調キャスケット　¥5,500＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awop02" class="item-link" target="_blank">ミリタリーオールインワン　¥12,000＋tax</a><br>
<a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax
</a><br></p>
              </div>
            </div>
          </div>
        </section>

        <section class="aw-sec5">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual3_img1.jpg?v=1601029682" alt="" width="391">
                </li>
                <li>
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual3_img2.jpg?v=1601029497" alt="" width="257">
                </li>

              </ul>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/lv20awct01" class="item-link" target="_blank">ボアガウンコート　¥18,000＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awpt02" class="item-link" target="_blank">チェックワイドパンツ（IVORY）　¥10,800＋tax
                  </a></p>
              </div>
            </div>
          </div>
        </section> 

        <section class="aw-sec6">
          <div class="inner">
            <div class="aw-sec-area">
              <div class="visual-main">
                <h2 class="visual-main-title">AUTUMN WINTER</h2>
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual4_img3.jpg?v=1601033322" alt="" width="246">
                </figure>
                <div class="name">
                  MISAKO UNO
                </div>
              </div>
            </div>
            <div class="detail">
              <p class="text"><a href="https://lavanda.jp/products/lv20awop03" class="item-link" target="_blank">ミリタリーシャツワンピ　¥14,000＋tax</a><br>
                <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
              <a href="https://lavanda.jp/products/lv20awac21" class="item-link" target="_blank">ベロアワイドカチューシャ　¥1,500＋tax</a></p>
            </div>
          </div>
        </section>

        <section class="aw-sec7">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual5_img1.jpg?v=1601026637" alt="" width="399">
                  </figure>

                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual5_img2.jpg?v=1601026788" alt="" width="348">
                  </figure>
                  <div class="detail pc-only">
                    <p class="text"><a href="https://lavanda.jp/products/lv20awop08" class="item-link" target="_blank">オーバーオールスカート　¥12,000＋tax</a></p>
                  </div>
                </li>
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual5_img3.jpg?v=1601026913" alt="" width="223">
                  </figure>
                </li>

              </ul>
              <div class="detail sp-only">
                <p class="text"><a href="https://lavanda.jp/products/lv20awop08" class="item-link" target="_blank">オーバーオールスカート　¥12,000＋tax</a></p>
              </div>

            </div>
          </div>
        </section>

        <section class="aw-sec8">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual6_img1.jpg?v=1601035256" alt="" width="416">
                  </figure>

                </li>

                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual6_img2.jpg?v=1601035239" alt="" width="416">
                  </figure>
                </li>

              </ul>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/lv20awac07" class="item-link" target="_blank">ハートサンドピアス　¥2,500＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awac19" class="item-link" target="_blank">オーガンジーシュシュ　¥1,800＋tax</a></p>
              </div>

            </div>
          </div>
        </section>

        <section class="aw-sec9">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual7_img1.jpg?v=1601027023" alt="" width="573">
                  </figure>
                  <div class="detail pc-only">
                    <p class="text"><a href="https://lavanda.jp/products/lv20awct02" class="item-link" target="_blank">ロングダッフルコート　¥22,000＋tax</a><br>
                      <a href="https://lavanda.jp/products/lv20awkt08" class="item-link" target="_blank">リブタートルニット　¥7,000＋tax</a><br>
<a href="https://lavanda.jp/products/lv20awac20" class="item-link" target="_blank">ベロアリボンゴム　¥1,800＋tax</a><br>
                    <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
                    </p>
                  </div>
                </li>

                <li>
                  <ul class="visual-sub-list">
                    <li>
                      <figure class="thumb">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual7_img2.jpg?v=1601027220" alt="" width="179">
                      </figure>
                    </li>
                    <li>
                      <figure class="thumb">
                        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual7_img3.jpg?v=1601027249" alt="" width="214">
                      </figure>
                    </li>
                  </ul>
                </li>

              </ul>
              <div class="detail sp-only">
                 <p class="text"><a href="https://lavanda.jp/products/lv20awct02" class="item-link" target="_blank">ロングダッフルコート　¥22,000＋tax</a><br>
                      <a href="https://lavanda.jp/products/lv20awkt08" class="item-link" target="_blank">リブタートルニット　¥7,000＋tax</a><br>
<a href="https://lavanda.jp/products/lv20awac20" class="item-link" target="_blank">ベロアリボンゴム　¥1,800＋tax</a><br>
                    <a href="https://lavanda.jp/products/la20awsh02" class="item-link" target="_blank">ロングヒールブーツ　¥18,000＋tax</a><br>
                    </p>
                
              
              </div>
            </div>
          </div>
        </section>
 
        <section class="aw-sec10">
          <div class="inner">
            <div class="aw-sec-area">
              <ul class="visual-list">
                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual8_img1.jpg?v=1601035406" alt="" width="375">
                  </figure>
                  <div class="detail">
                      <p class="text"><a href="https://lavanda.jp/products/lv20awjk02" class="item-link" target="_blank">テーラードジャケット　¥13,000＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awpt01" class="item-link" target="_blank">スラックスベルトパンツ　¥9,800＋tax</a><br>
                <a href="https://lavanda.jp/products/la20awac22" class="item-link" target="_blank">レイヤードネックレスSET　¥3,800＋tax</a>
                
                </p>
                  </div>
                </li>

                <li>
                  <figure class="thumb">
                    <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual8_img2.jpg?v=1601035393" alt="" width="375">
                  </figure>
                  <div class="detail">
                    <p class="text"><a href="https://lavanda.jp/products/lv20awop05" class="item-link" target="_blank">フラワーブラウスワンピース　¥13,000＋tax</a><br>
                      <a href="https://lavanda.jp/products/la20awac14" class="item-link" target="_blank">ベルトベレー帽　¥5,500＋tax</a></p>
                  </div>
                </li>

              </ul>

            </div>
          </div>
        </section>

        <section class="aw-sec11">
          <div class="inner">
            <div class="aw-sec-area">
              <div class="visual-main">
                <h2 class="visual-main-title">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual9_title_sp.png" alt="">
                </h2>
                <figure class="thumb">
                  <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual9_img1.jpg?v=1601035507" alt="" width="465">
                </figure>
                <div class="name"><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/AW20_aw_visual9_name_sp.png" alt="MISAKO UNO"></div>

              </div>
              <div class="detail">
                <p class="text"><a href="https://lavanda.jp/products/lv20awkt08" class="item-link" target="_blank">リブタートルニット　¥7,000＋tax</a><br>
                  <a href="https://lavanda.jp/products/lv20awsk03" class="item-link" target="_blank">チュールレイヤードスカート　¥10,800＋tax</a><br>
                <a href="https://lavanda.jp/products/la20awac14" class="item-link" target="_blank">ベルトベレー帽　¥5,500＋tax</a></p>
              <br><br><div style="text-align: center;">身長158cm　着用SIZE：ボトムス/S 　シューズ/M</div>
              </div>
            </div>
          </div>
        </section>
</div>
</div>
      